---
import '../../assets/css/components/content.css';
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';
import { Icon } from 'astro-icon/components';
import HtmlHead from '../../components/HtmlHead.astro';
import Logo from '../../components/Logo.astro';
import OldStyleButtons from '../../components/OldStyleButtons.astro';
import SiteNav from '../../components/SiteNav.astro';
import SvgDefs from '../../components/SvgDefs.astro';
import Webrings from '../../components/Webrings.astro';
import { inlineMarkdownRender, inlineMarkdownStrip } from '../../utils/markdown.js';
import { listAllTalks } from '../../utils/talks.js';

// eslint-disable-next-line @typescript-eslint/no-use-before-define
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

export const getStaticPaths = (async () =>
	(await listAllTalks()).map((talk) => ({
		params: {
			talk: talk.id
		},
		props: talk
	}))) satisfies GetStaticPaths;

const {
	render,
	data: {
		draft,
		title,
		summary,
		date,
		isOnline,
		event,
		eventUrl,
		address,
		image,
		imageAlt,
		slides,
		video,
		code,
		demo,
		relatedContent,
		techStack
	}
} = Astro.props;
const { Content } = await render();
const formatter = new Intl.DateTimeFormat('en-US', { dateStyle: 'long', timeStyle: 'long' });
---
<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="https://schema.org/Event">
	<HtmlHead
		title={`${inlineMarkdownStrip(title)} | Marco Campos`}
		description={inlineMarkdownStrip(summary)}
		url={Astro.url.href}
		image={image?.src}
		{imageAlt}
		createdAt={date}
	/>
	<body>
		<skip-to-content>
			<a href="#main">Skip to main content</a>
		</skip-to-content>

		<SiteNav />

		<css-naked-day>
			<hr />
			<h2>Why this website looks so weird?</h2>
			<p>We are celebrating CSS Naked Day!</p>
			<p>Find out more on <a href="/blog/2025/04/css-naked-day-2025">this blog post</a>.</p>
			<hr />
		</css-naked-day>

		<header>
			<Logo
				subtitle="Talks"
				shortSubtitle="Talks"
				url="/talks/"
				title="Talks Page"
			/>
			<h1 itemprop="name">
				{draft && <draft-tag>Draft</draft-tag>}
				{/* eslint-disable-next-line astro/no-set-html-directive */}
				<Fragment set:html={inlineMarkdownRender(title)} />
			</h1>
		</header>

		<main id="main">
			<h2>
				<Icon name="mingcute:information-line" aria-hidden="true" />
				Talk info
			</h2>

			<div itemprop="location" itemscope itemtype={isOnline ? 'https://schema.org/VirtualLocation' : 'https://schema.org/Place'} hidden>
				<meta itemprop={isOnline ? 'url' : 'address'} content={isOnline ? eventUrl : address} />
				<meta itemprop="eventAttendanceMode" content={isOnline ? 'https://schema.org/OnlineEventAttendanceMode' : 'https://schema.org/OfflineEventAttendanceMode'} />
				<meta itemprop="eventStatus" content="https://schema.org/EventScheduled" />
			</div>

			<ul>
				{
					event && (
						<li>
							<strong>
								<Icon name="mingcute:calendar-2-line" aria-hidden="true" />
								Event:
							</strong>
							<span>
								<a href={eventUrl} rel="noopener noreferrer" referrerpolicy="no-referrer" itemprop="url">
									{/* eslint-disable-next-line astro/no-set-html-directive */}
									<Fragment set:html={inlineMarkdownRender(event)} />
								</a>
							</span>
						</li>
					)
				}

				<li>
					<strong>
						<Icon name="mingcute:calendar-2-line" aria-hidden="true" />
						Date:
					</strong>
					<meta itemprop="startDate" content={date ? date.toISOString() : '0000-01-01T00:00:00.000Z'} />
					{date ? <time datetime={date.toISOString()}>{formatter.format(date)}</time> : <span>&mdash;</span>}
				</li>

				{
					slides && (
						<li>
							<strong>
								<Icon name="mingcute:clapperboard-line" aria-hidden="true" />
								Slides:
							</strong>
							<a href={slides} rel="noopener noreferrer" referrerpolicy="no-referrer">{slides}</a>
						</li>
					)
				}

				{
					video && (
						<li>
							<strong>
								<Icon name="mingcute:video-line" aria-hidden="true" />
								Video:
							</strong>
							<a href={video} rel="noopener noreferrer" referrerpolicy="no-referrer">{video}</a>
						</li>
					)
				}

				{
					code && (
						<li>
							<strong>
								<Icon name="mingcute:code-line" aria-hidden="true" />
								Code:
							</strong>
							<a href={code} rel="noopener noreferrer" referrerpolicy="no-referrer">{code}</a>
						</li>
					)
				}
			</ul>

			<rendered-content>
				<Content />
			</rendered-content>

			{
				demo && (
					<Fragment>
						<h2>
							<Icon name="mingcute:test-tube-line" aria-hidden="true" />
							Demo
						</h2>

						<iframe
							src={demo}
							loading="lazy"
							referrerpolicy="no-referrer"
							sandbox="allow-forms allow-scripts allow-same-origin"
							title={`Demo for ${title}`}
						>
							A local running demo of the project.
						</iframe>
					</Fragment>
				)
			}

			{
				relatedContent && (
					<Fragment>
						<h2>
							<Icon name="mingcute:share-2-line" aria-hidden="true" />
							Related content
						</h2>
						<ul>
							{
								relatedContent?.map(({ url: contentUrl, title: contentTitle }) => (
									<li>
										<a href={contentUrl} rel="noopener noreferrer" referrerpolicy="no-referrer">{contentTitle}</a>
									</li>
								))
							}
						</ul>
					</Fragment>
				)
			}

			<h2>
				<Icon name="mingcute:tool-line" aria-hidden="true" />
				Technologies used
			</h2>

			<tag-list>
				<ul>
					{techStack?.map((tech) => <li><tag-item><span>{tech}</span></tag-item></li>)}
				</ul>
			</tag-list>
		</main>

		<footer>
			<OldStyleButtons />
			<Webrings />
		</footer>
		<SvgDefs />
		<iab-escape></iab-escape>
	</body>
</html>
