---
import '../../assets/css/pages/talks.css';
import { Icon } from 'astro-icon/components';
import Card from '../../components/Card.astro';
import Effects from '../../components/Effects.astro';
import HtmlHead from '../../components/HtmlHead.astro';
import Logo from '../../components/Logo.astro';
import OldStyleButtons from '../../components/OldStyleButtons.astro';
import SiteNav from '../../components/SiteNav.astro';
import Webrings from '../../components/Webrings.astro';
import { listAllTalks } from '../../utils/talks.js';

const talks = await listAllTalks();

const formatter = new Intl.DateTimeFormat('en-US', { dateStyle: 'long', timeStyle: 'short' });
---
<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="https://schema.org/WebPage">
	<HtmlHead
		title="Talks | Marco Campos"
		description="A list of talks I've given on meetups, conferences, or other events."
		url={Astro.url.href}
	/>
	<body>
		<skip-to-content>
			<a href="#main">Skip to main content</a>
		</skip-to-content>

		<SiteNav />

		<css-naked-day>
			<hr />
			<h2>Why this website looks so weird?</h2>
			<p>We are celebrating CSS Naked Day!</p>
			<p>Find out more on <a href="/blog/2025/04/css-naked-day-2025">this blog post</a>.</p>
			<hr />
		</css-naked-day>

		<header>
			<Logo
				subtitle="Talks"
				shortSubtitle="Talks"
				url="/talks/"
				title="Talks Page"
			/>
			<h1>Talks, Presentations & Workshops</h1>
		</header>

		<main id="main">
			{
				talks.map((talk) => (
					<Card
						draft={talk.data.draft}
						url={`/talks/${talk.id}/`}
						itemtype="https://schema.org/Event"
						image={talk.data.image}
						imageAlt={talk.data.imageAlt ?? ''}
					>
						<Fragment slot="metadata">
							<meta
								itemprop="eventAttendanceMode"
								content={talk.data.isOnline ? 'https://schema.org/OnlineEventAttendanceMode' : 'https://schema.org/OfflineEventAttendanceMode'}
							/>
							<meta itemprop="eventStatus" content="https://schema.org/EventScheduled" />
							<div itemprop="location" itemscope itemtype={talk.data.isOnline ? 'https://schema.org/VirtualLocation' : 'https://schema.org/Place'} hidden>
								<meta itemprop={talk.data.isOnline ? 'url' : 'address'} content={talk.data.isOnline ? `/talks/${talk.id}/` : talk.data.address} />
							</div>
						</Fragment>
						<h2 slot="title">
							<Fragment set:html={talk.data.title} />
						</h2>

						<Fragment slot="subtitle">
							{
								talk.data.date && (
									<span>
										<Icon name="uil:calendar-alt" title="Event Date" />
										{
											talk.data.date ? (
												<meta itemprop="startDate" content={talk.data.date.toISOString()} />
												<time datetime={talk.data.date.toISOString()}>{formatter.format(talk.data.date)}</time>
											) : <span>&mdash;</span>
										}
									</span>
								)
							}
							{
								talk.data.event && (
									<span itemprop="superEvent">
										<meta itemprop="startDate" content={talk.data.date ? talk.data.date.toISOString() : '0000-01-01T00:00:00.000Z'} />
										<meta
											itemprop="eventAttendanceMode"
											content={talk.data.isOnline ? 'https://schema.org/OnlineEventAttendanceMode' : 'https://schema.org/OfflineEventAttendanceMode'}
										/>
										<meta itemprop="eventStatus" content="https://schema.org/EventScheduled" />
										<div itemprop="location" itemscope itemtype={talk.data.isOnline ? 'https://schema.org/VirtualLocation' : 'https://schema.org/Place'} hidden>
											<meta itemprop={talk.data.isOnline ? 'url' : 'address'} content={talk.data.isOnline ? `/talks/${talk.id}/` : talk.data.address} />
										</div>

										<Icon name="uil:presentation-play" title="Event name" />
										<span>
											<Fragment set:html={talk.data.event} />
										</span>
									</span>
								)
							}
						</Fragment>

						<Fragment set:html={talk.data.summary} />

						<Fragment slot="links">
							<a href={`/talks/${talk.id}/`} itemprop="url">
								<Icon name="uil:presentation-plus" aria-hidden="true" />
								<span>View Talk Info</span>
								<sr-only>
									for
									<Fragment set:html={talk.data.title} />
								</sr-only>
							</a>
						</Fragment>
					</Card>
				))
			}
		</main>

		<footer>
			<OldStyleButtons />
			<Webrings />
		</footer>
		<Effects />
		<iab-escape></iab-escape>
	</body>
</html>
