---
import { Icon } from 'astro-icon/components';
import HtmlHead from '../components/HtmlHead.astro';
import Logo from '../components/Logo.astro';
import OldStyleButtons from '../components/OldStyleButtons.astro';
import SiteNav from '../components/SiteNav.astro';
import SvgDefs from '../components/SvgDefs.astro';
import Webrings from '../components/Webrings.astro';
import { listBlogroll, listBookmarks } from '../utils/bookmarks.ts';
import { inlineMarkdownRender } from '../utils/markdown.ts';

const ICON_MAP = {
	article: 'mingcute:edit-4-line',
	guidelines: 'mingcute:book-6-line',
	podcast: 'mingcute:mic-line',
	reference: 'mingcute:book-5-line',
	tutorial: 'mingcute:list-check-2-line',
	video: 'mingcute:clapperboard-line',
	website: 'mingcute:world-2-line'
} as const;

const links = await listBookmarks();
const blogs = await listBlogroll();
---
<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="https://schema.org/WebPage">
	<HtmlHead
		title="Bookmarks | Marco Campos"
		description="List of resources I reference often."
	/>
	<body>
		<a href="/yapping" rel="nofollow" hidden>Don't follow this link</a>

		<skip-to-content>
			<a href="#main">Skip to main content</a>
		</skip-to-content>

		<SiteNav />

		<css-naked-day>
			<hr />
			<h2>Why this website looks so weird?</h2>
			<p>We are celebrating CSS Naked Day!</p>
			<p>Find out more on <a href="/blog/2025/04/css-naked-day-2025/">this blog post</a>.</p>
			<hr />
		</css-naked-day>

		<header>
			<Logo
				subtitle="Bookmarks"
				shortSubtitle="BM."
				title="Bookmark page"
			/>
			<h1>Bookmarks</h1>
		</header>

		<main id="main">
			{
				links.map((section) => (
					<hgroup>
						<h2>{section.title}</h2>
						<p>{section.description}</p>
					</hgroup>
					<dl>
						{
							section.links.map((bookmark) => (
								<dt class="h-entry">
									<Icon name={ICON_MAP[bookmark.type]} title={`(${bookmark.type})`} role="presentation" />
									<a class="u-bookmark-of h-cite" href={bookmark.url}>
										<Fragment set:html={inlineMarkdownRender(bookmark.title)} />
									</a>
								</dt>
								<dd>
									{/* eslint-disable-next-line @typescript-eslint/prefer-nullish-coalescing */}
									<Fragment set:html={inlineMarkdownRender(bookmark.description || '—')} />
									{
										bookmark.note && (
											<m-note data-type="info">
												<Icon name="mingcute:information-line" aira-hidden="true" />
												<rendered-content>
													<Fragment set:html={inlineMarkdownRender(bookmark.note)} />
												</rendered-content>
											</m-note>
										)
									}
								</dd>
							))
						}
					</dl>
				))
			}

			<hgroup id="blogroll">
				<h2>Blogroll</h2>
				<p>A list of blogs I follow</p>
			</hgroup>

			<ul>
				{
					blogs.map(({ url, title }) => (
						<li>
							<a href={url}>
								<Fragment set:html={inlineMarkdownRender(title)} />
							</a>
						</li>
					))
				}
			</ul>
		</main>

		<footer>
			<OldStyleButtons />
			<Webrings />
			<hit-counter></hit-counter>
		</footer>
		<SvgDefs />
		<iab-escape></iab-escape>
	</body>
</html>
