---
/* eslint-disable max-lines */

import { Icon } from 'astro-icon/components';
import HtmlHead from '../components/HtmlHead.astro';
import Logo from '../components/Logo.astro';
import OldStyleButtons from '../components/OldStyleButtons.astro';
import SiteNav from '../components/SiteNav.astro';
import SvgDefs from '../components/SvgDefs.astro';
import Webrings from '../components/Webrings.astro';
import { inlineMarkdownRender } from '../utils/markdown.ts';

const ICON_MAP = {
	article: 'mingcute:edit-4-line',
	guidelines: 'mingcute:book-6-line',
	podcast: 'mingcute:mic-line',
	reference: 'mingcute:book-5-line',
	tutorial: 'mingcute:list-check-2-line',
	video: 'mingcute:clapperboard-line',
	website: 'mingcute:world-2-line'
} as const;

interface BookmarkLink {
	url: string;
	title: string;
	description: string;
	type: 'article' | 'guidelines' | 'podcast' | 'reference' | 'tutorial' | 'video' | 'website';
}

interface BookmarkSection {
	title: string;
	description: string;
	links: BookmarkLink[];
}

const links: BookmarkSection[] = [
	{
		title: 'Accessibility',
		description: 'Content related to accessibility, specially web accessibility and ARIA.',
		links: [
			{
				url: 'https://www.w3.org/WAI/ARIA/apg/patterns/',
				title: 'ARIA Authoring Practices - Patterns',
				description:
					'A list of patterns to follow for complex UI interactions like tabs. It describes expected interactions but does not prescribe a specific tool to use.',
				type: 'guidelines'
			},
			{
				url: 'https://inclusive-components.design/',
				title: 'Inclusive Components',
				description: 'A list of patterns for UI components, it is complementary to the previous one.',
				type: 'website'
			},
			{
				url: 'https://www.erikkroes.nl/blog/accessibility/the-guide-to-accessible-web-components-draft/',
				title: 'The Guide to Accessible Web Components',
				description: 'General information on how to make accessible web components.',
				type: 'article'
			},
			{
				url: 'https://www.w3.org/WAI/tutorials/forms/',
				title: 'Forms Tutorial - Web Accessibility Intiative',
				description: 'A comprehensive tutorial on forms and how to best write them for accessibility.',
				type: 'tutorial'
			},
			{
				url: 'https://adrianroselli.com/2020/03/stop-using-drop-down.html',
				title: 'Stop Using "Drop-Down"',
				description: 'A rant to stop missnaming some UI widgets.',
				type: 'article'
			},
			{
				url: 'https://racheleditullio.com/talks/accessible-forms/',
				title: 'Structuring Accessible Forms',
				description: 'Amazing tutorial on accessible forms.',
				type: 'tutorial'
			},
			{
				url: 'https://html5accessibility.com/stuff/2024/11/23/old-alt-text-advice/',
				title: 'Old Alt Text Advice',
				description: 'A very comprehensive guide for writing alt text for images, covering multiple cases and scenarios.',
				type: 'guidelines'
			},
			{
				url: 'https://www.joshwcomeau.com/css/surprising-truth-about-pixels-and-accessibility/',
				title: 'The Surprising Truth About Pixels and Accessibility',
				description: 'A deep dive into pixels and their relationship with other CSS units. Including some guidance on when to use which unit.',
				type: 'article'
			},
			{
				url: 'https://nolanlawson.com/2022/11/28/shadow-dom-and-accessibility-the-trouble-with-aria/',
				title: 'Shadow DOM and accessibility: the trouble with ARIA',
				description:
					'Current (from the time of the article) issues with implementing accessible web components. It covers mainly how to reference elements across shadow and light DOM boundaries.',
				type: 'article'
			},
			{
				url: 'https://www.smashingmagazine.com/2021/03/complete-guide-accessible-front-end-components/',
				title: 'A Complete Guide To Accessible Front-End Components',
				description: 'A very comprehensive guide on multiple things to think about and care when creating components, specially interactive ones.',
				type: 'guidelines'
			},
			{
				url: 'https://a11ysupport.io/',
				title: 'Accessibility Support',
				description: 'A support table like "Can I Use" but for accessibility.',
				type: 'reference'
			},
			{
				url: 'https://aaardvarkaccessibility.com/wcag-plain-english/',
				title: 'WCAG in Plain English',
				description: 'The WCAG but in plain english.',
				type: 'reference'
			},
			{
				url: 'https://cdpn.io/pen/debug/ByoMebv',
				title: 'Screen Reader HTML Support – Lookup',
				description: 'A reference of how screen readers support each HTML element and some common attribute presence/combos.',
				type: 'reference'
			},
			{
				url: 'https://tab-able.co.uk/video-without-vision/',
				title: 'Video Without Vision',
				description: 'Guidelines to provide videos that are accessible to a blind audience.',
				type: 'guidelines'
			}
		]
	},
	{
		title: 'HTML',
		description: 'Semantic content and interesting things about HTML markup.',
		links: [
			{
				url: 'https://heydonworks.com/article/the-blockquote-element/',
				title: 'The Blockquote Element',
				description: 'An article on the `<blockquote>` element and how to use it.',
				type: 'article'
			},
			{
				url: 'https://github.com/joshbuchea/HEAD',
				title: 'HEAD - A list of tags to put on your html <head>',
				description: 'A list of tags to put on the `<head>` and links to the references for each tag.',
				type: 'reference'
			},
			{
				url: 'https://www.leemunroe.com/building-html-email/',
				title: "Things I've Learned About Building & Coding HTML Email Templates",
				description: 'Reflections on building HTML emails.',
				type: 'article'
			},
			{
				url: 'https://web.dev/articles/custom-elements-best-practices',
				title: 'Custom Element Best Practices',
				description: 'A set of best practices for building web components with explanations as to _why_ to follow them.',
				type: 'guidelines'
			},
			{
				url: 'https://height.app/blog/guide-to-build-context-menus',
				title: "Building like it's 1984: A comprehensive guide to creating intuitive context menus",
				description: 'A guide on the considerations and how to build context menus.',
				type: 'reference'
			},
			{
				url: 'https://height.app/blog/scrollbars-in-web-applications',
				title: "Building like it's 1984: Scrollbars in web applications",
				description: 'A guide on the considerations and how to build custom scrollbars.',
				type: 'reference'
			},
			{
				url: 'https://reasonunderpressure.com/blog/posts/your-images-are-probably-oversized',
				title: 'Your Images Are (Probably) Oversized',
				description: 'An article on image optimization and how to make images better sized.',
				type: 'article'
			},
			{
				url: 'https://justinfagnani.com/2025/06/30/what-should-a-dom-templating-api-look-like',
				title: 'What should a native DOM templating API look like?',
				description: 'An opinion piece on how HTML templating should be implemented natively.',
				type: 'article'
			},
			{
				url: 'http://nativeformelements.com/',
				title: 'Native form elements',
				description: 'A page with form elements, without styling.',
				type: 'reference'
			},
			{
				url: 'https://demo.agektmr.com/datalist/',
				title: 'Datalist Experiment',
				description: 'Examples of the `<datalist>` element in use.',
				type: 'reference'
			},
			{
				url: 'https://whatwebcando.today/',
				title: 'What web can do today?',
				description: 'A reference of various capabilities of web apps.',
				type: 'reference'
			},
			{
				url: 'https://whatpwacando.today/',
				title: 'What PWA can do today?',
				description: 'A reference of various capabilities of web apps.',
				type: 'reference'
			},
			{
				url: 'https://pikaday.dbushell.com/',
				title: 'Pikaday',
				description: 'A reference of date pickers and patterns to use for selecting dates.',
				type: 'reference'
			}
		]
	},
	{
		title: 'CSS & SVG',
		description: "CSS, layouts, and all it's cool quirks.",
		links: [
			{
				url: 'https://every-layout.dev/layouts/stack/',
				title: 'The Stack - Every Layout',
				description: 'An interesting approach to the problem of laying out a stack of things.',
				type: 'tutorial'
			},
			{
				url: 'https://css-tricks.com/snippets/css/complete-guide-grid/',
				title: 'CSS Grid Layout Guide',
				description: "A guide on the grid layout, with it's properties and examples.",
				type: 'reference'
			},
			{
				url: 'https://www.youtube.com/watch?v=xCSw6bPXZks',
				title: 'Please stop using px for font-size (video)',
				description: 'Accessibility related, it explains why we should not use pixels for defining the base font size of a page.',
				type: 'video'
			},
			{
				url: 'https://rtlstyling.com/posts/rtl-styling/',
				title: 'RTL Styling 101',
				description: 'A guide on styling pages for Right to Left content.',
				type: 'tutorial'
			},
			{
				url: 'https://css-tricks.com/dropdown-menus-with-more-forgiving-mouse-movement-paths/',
				title: 'Dropdown Menus with More Forgiving Mouse Movement Paths',
				description: "A classic tutorial on how to create dropdown menus that don't require precise mouse movements.",
				type: 'tutorial'
			},
			{
				url: 'https://svgfilters.com/',
				title: 'SVG Filter Builder',
				description: 'Awesome node-based filter builder for SVG.',
				type: 'website'
			},
			{
				url: 'https://www.joshwcomeau.com/svg/friendly-introduction-to-svg/',
				title: 'A Friendly Introduction to SVG',
				description: 'Very visual and beginner level intro to how SVG works and how to write it by hand.',
				type: 'tutorial'
			},
			{
				url: 'https://frontendmasters.com/blog/the-coyier-css-starter/',
				title: 'The Coyier CSS Starter',
				description: 'Chris Coyer\'s 2025 re-take on "CSS resets". It explains _why_ each option is choosen.',
				type: 'reference'
			},
			{
				url: 'https://rtlstyling.com/posts/rtl-styling/',
				title: 'RTL Styling 101',
				description: 'A guide on how to style pages for Right-to-Left (RTL) languages.',
				type: 'guidelines'
			}
		]
	},
	{
		title: 'JS',
		description: "Javascript in all it's quirky glory",
		links: [
			{
				url: 'https://www.lorenstew.art/blog/reactive-state-manager-with-proxies',
				title: 'Building a Lightweight Reactive State Manager with JavaScript Proxies',
				description: 'A quick tutorial on how to build a state management tool that uses proxies and is lightweight',
				type: 'tutorial'
			},
			{
				url: 'https://pouchdb.com/2015/05/18/we-have-a-problem-with-promises.html',
				title: 'We have a problem with promises',
				description: 'Why plain `Promise`s are hard in JavaScript.',
				type: 'article'
			},
			{
				url: 'https://css-tricks.com/debouncing-throttling-explained-examples/',
				title: 'Debouncing and Throttling Explained Through Examples',
				description:
					'How to debounce and throttle events for when using [`requestAnimationFrame`](https://developer.mozilla.org/en-US/docs/Web/API/Window/requestAnimationFrame) is not enough.',
				type: 'reference'
			}
		]
	},
	{
		title: 'UX and Design',
		description: 'Usability, Design, and all things around the user experience.',
		links: [
			{
				url: 'https://lawsofux.com/',
				title: 'Laws of UX',
				description: 'A list of principles underlaying _"good design"_.',
				type: 'website'
			},
			{
				url: 'https://uxmyths.com/',
				title: 'UX Myths',
				description: 'A list of myths regarding UX with articles explaining why they are myths.',
				type: 'website'
			},
			{
				url: 'https://alistapart.com/article/the-illusion-of-control-in-web-design/',
				title: 'The Illusion of Control in Web Design',
				description: 'Old advice about the web being a hostile medium and that we should embrace it and not fight against it.',
				type: 'article'
			},
			{
				url: 'https://www.intercom.com/blog/7-things-wish-every-search-did/',
				title: '7 things I wish every search box did',
				description: 'An analysis of things that make a "search box" good.',
				type: 'article'
			},
			{
				url: 'https://uxplanet.org/designing-systematic-colors-b5d2605b15c',
				title: 'Designing Systematic Colors',
				description: 'An approach to creating color palletes systematically.',
				type: 'article'
			},
			{
				url: 'https://jeremymikkola.com/posts/2019_03_19_rules_for_autocomplete.html',
				title: 'Rules for Autocomplete',
				description: 'A set of guidelines for creating good auto complete components.',
				type: 'article'
			},
			{
				url: 'https://component.gallery/',
				title: 'The Component Gallery',
				description: 'A gallery of UI patterns and some design systems they show up.',
				type: 'reference'
			}
		]
	},
	{
		title: 'Security',
		description: 'Good practices and advice related to security.',
		links: [
			{
				url: 'https://pages.nist.gov/800-63-4/sp800-63b.html#password',
				title: 'NIST Guidelines on passwords',
				description: 'Pedantic set of guidelines to punch people in the face with when they ask for arbitrary password rules.Very effective against managers.',
				type: 'guidelines'
			},
			{
				url: 'https://tailscale.com/blog/frequent-reauth-security',
				title: "Frequent reauth doesn't make you more secure",
				description: 'An interesting view on asking users to reauthenticate often.',
				type: 'article'
			}
		]
	},
	{
		title: 'Git',
		description: 'Version control and this bugger called Git.',
		links: [
			{
				url: 'https://www.conventionalcommits.org/en/v1.0.0/',
				title: 'Conventional Commits',
				description: 'A style of writing commit messages that I like to follow.',
				type: 'reference'
			},
			{
				url: 'https://docs.github.com/en/authentication/managing-commit-signature-verification/signing-commits',
				title: 'Commit Signing - GitHub Guide',
				description: 'Important, please do it. Here is a tutorial.',
				type: 'tutorial'
			},
			{
				url: 'https://drew.silcock.dev/blog/artisanal-git/',
				title: 'Artisanal Handcrafted Git Repositories',
				description: 'How to make a git repo from scratch, vegan and gluten-free.',
				type: 'article'
			}
		]
	},
	{
		title: 'Project Management',
		description: 'Thought on how to manage softare engineering teams.',
		links: [
			{
				url: 'https://charity.wtf/2025/06/19/in-praise-of-normal-engineers/',
				title: 'In praise of "normal" engineers',
				description: 'Why expecting the whole team to be "10x" is faulty.',
				type: 'article'
			},
			{
				url: 'https://blog.alexewerlof.com/p/when-a-team-is-too-big',
				title: 'When a team is too big',
				description: 'A reflection on team size, experience, and effectiveness.',
				type: 'article'
			},
			{
				url: 'https://jordivillar.com/blog/becoming-irrelevant',
				title: 'Am I Becoming Irrelevant?',
				description: "Imposter Syndrome and it's effects.",
				type: 'article'
			}
		]
	},
	{
		title: 'Software Engineering',
		description: 'Interesting architecture problems and their solutions.',
		links: [
			{
				url: 'https://newsletter.manager.dev/p/the-13-software-engineering-laws',
				title: 'The 13 software engineering laws',
				description: 'A list of "laws" of engineering with explanations on thir importance.',
				type: 'article'
			},
			{
				url: 'https://monica-at-mozilla.blogspot.com/2013/02/writing-for-98.html',
				title: 'Writing for the 98%',
				description: 'An analysis of Firefox preferences page design and the balance between good defaults and user control.',
				type: 'article'
			},
			{
				url: 'https://medium.com/google-design/google-photos-45b714dfbed1',
				title: 'Building the Google Photos Web UI',
				description: 'The challenge of building a UI for displaying photos and a solution to it.',
				type: 'article'
			},
			{
				url: 'https://www.seangoedecke.com/invalid-states/',
				title: "'Make invalid states unrepresentable' considered harmful",
				description: 'Why we should make our systems flexible and design thinking about rules that will be broken.',
				type: 'article'
			},
			{
				url: 'https://emschwartz.me/subtleties-of-sqlite-indexes/',
				title: 'Subtleties of SQLite Indexes',
				description: 'Details about SQL indexes and how to optimize them for the best outcome.',
				type: 'article'
			},
			{
				url: 'https://cedardb.com/blog/pagination/',
				title: 'Offset Considered Harmful or: The Surprising Complexity of Pagination in SQL',
				description: 'A deep dive into pagination in SQL and problems with duplicated entries when listing items.',
				type: 'article'
			},
			{
				url: 'https://shkspr.mobi/blog/2025/10/how-to-actually-test-your-readme/',
				title: 'How to *actually* test your readme',
				description: 'An argument that you should test your build steps and dependencies in a clean virtual machine so everything works and is reproductible.',
				type: 'article'
			}
		]
	},
	{
		title: 'Random Technical Stuff',
		description: 'Very technical, much interesting, wow!',
		links: [
			{
				url: 'https://bjango.com/articles/colourmanagementgamut/',
				title: 'Colour management, part 1',
				description: 'An introduction on how colour works in computers.',
				type: 'article'
			},
			{
				url: 'https://behdad.org/text2024/',
				title: 'State of Text Rendering 2024',
				description: "An in-depth analysis of test rendering, it's tools, and everything that is needed to write text on the screen. Multi-language style.",
				type: 'article'
			},
			{
				url: 'https://docs.oracle.com/cd/E19957-01/806-3568/ncg_goldberg.html',
				title: 'What Every Computer Scientist Should Know About Floating-Point Arithmetic',
				description: 'Classic piece on floating point numbers. A must read.',
				type: 'article'
			},
			{
				url: 'https://www.bigocheatsheet.com/',
				title: 'Big-O Cheat Sheet',
				description: "Algorithm complexity cheat sheet. That's it.",
				type: 'reference'
			},
			{
				url: 'http://devmag.org.za/2013/08/31/geometry-with-hex-coordinates/',
				title: 'Geometry with Hex Coordinates',
				description: 'A tutorial for writing hexagonal maps, how to represent them as a matrix, and how to work with coordinates in this space.',
				type: 'tutorial'
			},
			{
				url: 'https://www.b-list.org/weblog/2018/feb/11/usernames/',
				title: 'Let’s talk about usernames',
				description: 'Usernames are hard, here is an explanation on why.',
				type: 'article'
			},
			{
				url: 'http://devmag.org.za/2009/05/03/poisson-disk-sampling/',
				title: 'Poisson Disk Sampling',
				description: 'An algorithm to place random things in a nice pattern.',
				type: 'tutorial'
			},
			{
				url: 'http://4eyes.code66.se/?p=3881',
				title: 'Making seamlessly tiling water edge overlays',
				description: 'How to draw RPG maps in a more seamless way.',
				type: 'tutorial'
			},
			{
				url: 'https://www.fieggen.com/shoelace/',
				title: "Ian's Shoelace Site",
				description: 'A database of ways to tie shoelaces.',
				type: 'website'
			},
			{
				url: 'https://www.kalzumeus.com/2010/06/17/falsehoods-programmers-believe-about-names/',
				title: 'Falsehoods programmers believe about names',
				description: "Classic article to question our assumptions on people's names.",
				type: 'article'
			},
			{
				url: 'https://flightaware.engineering/falsehoods-programmers-believe-about-aviation/',
				title: 'Falsehoods Programmers Believe About Aviation',
				description: 'An interesting read in the style of "Falsehoods programmers believe about x" about airplanes and aviation.',
				type: 'article'
			},
			{
				url: 'https://kunststube.net/encoding/',
				title: 'What every programmer absolutely, positively needs to know about encodings and character sets to work with text',
				description: 'The name says it all.',
				type: 'article'
			},
			{
				url: 'https://www.benjoffe.com/smoitus',
				title: 'The Smoital System — A method of timekeeping on Mars based on UTC',
				description: 'A way to keep track of time in Mars and keeping compatibility with UTC.',
				type: 'article'
			}
		]
	},
	{
		title: 'Lego',
		description: 'Websites with instructions, databases on sets and parts, and other related things.',
		links: [
			{
				url: 'https://bricksfortheblind.org/',
				title: 'Bricks for the Blind',
				description: 'Text based building instructions.',
				type: 'website'
			},
			{
				url: 'https://www.lego.com/en-us/service/building-instructions',
				title: 'Lego Building Instructions',
				description: 'Official website for building instructions.',
				type: 'website'
			},
			{
				url: 'https://www.bricklink.com/',
				title: 'Bricklink',
				description: 'Database and marketplace for Lego parts.',
				type: 'website'
			},
			{
				url: 'https://rebrickable.com/',
				title: 'Rebrickable',
				description: 'Database of MoCs, instructions, and sets.',
				type: 'website'
			},
			{
				url: 'https://brickset.com/',
				title: 'Brickset',
				description: 'Database of sets, specially useful for older sets.',
				type: 'website'
			},
			{
				url: 'https://letsbuilditagain.com/index.php',
				title: "Let's Build it Again",
				description: 'Database of old instructions.',
				type: 'website'
			},
			{
				url: 'https://instructabrick.com/',
				title: 'Instruct-a-brick',
				description: 'Database of old instructions.',
				type: 'website'
			},
			{
				url: 'https://brickinstructions.com/',
				title: 'Brick Instructions',
				description: 'Database of old instructions.',
				type: 'website'
			}
		]
	},
	{
		title: 'Video Games & Board Games',
		description: 'Resources related to games, both physical and digital',
		links: [
			{
				url: 'https://isthereanydeal.com/',
				title: 'Is There any Deal?',
				description: 'Market tracker for games, includding multiple stores and bundle sites. Good for scavanging discounts.',
				type: 'website'
			},
			{
				url: 'https://www.steamgriddb.com/',
				title: 'Steam Grid DB',
				description: 'Database for icons, banners, and other related resources to make your Steam library pretty.',
				type: 'website'
			},
			{
				url: 'https://steambanners.booru.org/index.php',
				title: 'Steam Banners',
				description: 'Another Database for Steam banners to make your library pretty.',
				type: 'website'
			},
			{
				url: 'https://www.myabandonware.com/',
				title: 'My Abandonware',
				description: 'Download old and abandoned games. Some of them have links and resources on how to run on modern hardware.',
				type: 'website'
			},
			{
				url: 'https://oldgamesdownload.com/',
				title: 'Old Games Download',
				description: 'Archive of old and abandoned games.',
				type: 'website'
			},
			{
				url: 'https://www.boardgameoracle.com/',
				title: 'Board Game Oracle',
				description: 'Market tracker for board game prices.',
				type: 'website'
			},
			{
				url: 'https://opengameart.org/',
				title: 'Open Game Art',
				description: 'Free game assets.',
				type: 'website'
			}
		]
	}
];
---
<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="https://schema.org/WebPage">
	<HtmlHead
		title="Bookmarks | Marco Campos"
		description="List of resources I reference often."
		url={Astro.url.href}
	/>
	<body>
		<a href="/yapping" rel="nofollow" hidden>Don't follow this link</a>

		<skip-to-content>
			<a href="#main">Skip to main content</a>
		</skip-to-content>

		<SiteNav />

		<css-naked-day>
			<hr />
			<h2>Why this website looks so weird?</h2>
			<p>We are celebrating CSS Naked Day!</p>
			<p>Find out more on <a href="/blog/2025/04/css-naked-day-2025">this blog post</a>.</p>
			<hr />
		</css-naked-day>

		<header>
			<Logo
				subtitle="Bookmarks"
				shortSubtitle="BM."
				url="/bookmarks/"
				title="Bookmark page"
			/>
			<h1>Bookmarks</h1>
		</header>

		<main id="main">
			{
				links.map((section) => (
					<hgroup>
						<h2>{section.title}</h2>
						<p>{section.description}</p>
					</hgroup>
					<dl>
						{
							section.links.map((bookmark) => (
								<dt class="h-entry">
									<Icon name={ICON_MAP[bookmark.type]} title={`(${bookmark.type})`} role="presentation" />
									<a class="u-bookmark-of h-cite" href={bookmark.url}>{bookmark.title}</a>
								</dt>
								<dd>
									{/* eslint-disable-next-line astro/no-set-html-directive */}
									<Fragment set:html={inlineMarkdownRender(bookmark.description || '—')} />
								</dd>
							))
						}
					</dl>
				))
			}
		</main>

		<footer>
			<OldStyleButtons />
			<Webrings />
		</footer>
		<SvgDefs />
		<iab-escape></iab-escape>
	</body>
</html>
