---
import { getCollection } from 'astro:content';
import Logo from '../components/Logo/index.astro';
import { GLOBALS } from '../constants';
import InternalPageLayout from '../layouts/InternalPage.astro';

const formatter = new Intl.DateTimeFormat('en-US', { dateStyle: 'long', timeStyle: 'short' });
const changelogs = await Promise.all((await getCollection('changelog')).map(async ({ render, id, data }) => ({
	title: data.versionName ? `${id} - ${data.versionName}` : id,
	date: data.date,
	Content: (await render()).Content
})));
---

<InternalPageLayout
	htmlTitle={['Changelog', ...GLOBALS.title]}
	title="Changelog"
	description="List of changes in diferent versions of the website."
	url="/changelog/"
	tags={['changelog', ...GLOBALS.tags]}
>
	<Logo
		subtitle="Changelog"
		shortSubtitle="Log"
		url="/changelog/"
		urlTitle="Changelog page"
		slot="logo"
	/>
	<Fragment slot="header">Changelog</Fragment>

	{
		changelogs.map(({ date, title, Content }) => (
			<article>
				<header>
					<h2>{title}</h2>
					<p><time datetime={date.toISOString()}>{formatter.format(date)}</time></p>
				</header>
				<Content />
			</article>
		))
	}
</InternalPageLayout>
