---
import '../assets/css/pages/resume.css';
import { Icon } from 'astro-icon/components';
import resume from '../../public/assets/resume.json' with { type: 'json' };
import HtmlHead from '../components/HtmlHead.astro';

const formatter = new Intl.DateTimeFormat('en-CA', { month: 'long', year: 'numeric' });
const collator = new Intl.Collator('en', { usage: 'sort' });
const projectsMap = {
	application: 'mingcute:code-line',
	talk: 'mingcute:drawing-board-line'
};
const linksMap = {
	GitHub: 'mingcute:github-line',
	CodePen: 'mingcute:codepen-line',
	LinkedIn: 'mingcute:linkedin-line'
};

function dateSorter(
	{ startDate: startA, endDate: endA }: { startDate: string, endDate?: string },
	{ startDate: startB, endDate: endB }: { startDate: string, endDate?: string }
) {
	if (!endA && !endB) {
		return 0;
	} else if (!endA) {
		return -1;
	} else if (!endB) {
		return 1;
	}

	const endDateA = new Date(endA);
	const endDateB = new Date(endB);
	const startDateA = new Date(startA);
	const startDateB = new Date(startB);

	return endDateB.getTime() - endDateA.getTime() || startDateB.getTime() - startDateA.getTime();
}
---
<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="https://schema.org/WebPage">
	<HtmlHead
		title="Resume | Marco Campos"
		description="Resume"
	/>
	<body>
		<!-- TODO: add schema metadata -->
		<!-- TODO: add links to download other formats -->
		<header>
			<hgroup>
				<h1>{resume.basics.name}</h1>
				<p>{resume.basics.label}</p>
			</hgroup>
			<aside>
				<ul id="links">
					<li>
						<Icon name="mingcute:mail-line" aria-hidden="true" />
						<a href={`mailto:${resume.basics.email}`} target="_blank" rel="noopener noreferrer" referrerpolicy="no-referrer">{resume.basics.email}</a>
					</li>
					<!-- INFO: phone not added for privacy reasons -->
					<!--
						<li>
							<Icon name="mingcute:phone-line" aria-hidden="true" />
							<a href={`tel:${resume.basics.phone}`} target="_blank" rel="noopener noreferrer" referrerpolicy="no-referrer">{resume.basics.phone}</a>
						</li>
					-->
					<li>
						<Icon name="mingcute:link-line" aria-hidden="true" />
						<a href={resume.basics.url} target="_blank" rel="noopener noreferrer" referrerpolicy="no-referrer">{resume.basics.url}</a>
					</li>
					{
						resume.basics.profiles.map(({ network, url }) => (
							<li>
								{/* @ts-expect-error */}
								<Icon name={linksMap[network] ?? 'mingcute:link-line'} aria-hidden="true" />
								<a href={url} target="_blank" rel="noopener noreferrer" referrerpolicy="no-referrer">{network}</a>
							</li>
						))
					}
				</ul>
			</aside>

			<blockquote>{resume.basics.summary}</blockquote>
		</header>

		<hr />

		<main>
			<section>
				<h2>Skills & Languages</h2>

				<ul id="skill-list">
					{
						resume.skills
							.toSorted(({ name: nameA }, { name: nameB }) => collator.compare(nameA, nameB))
							.map(({ name, level }) => <li>{name} ({level})</li>)
					}
					{
						resume.languages
							.toSorted(({ language: langA }, { language: langB }) => collator.compare(langA, langB))
							.map(({ language, fluency }) => <li>{language} ({fluency})</li>)
					}
				</ul>

				<hr />
			</section>

			<section id="experience">
				<h2>Experience</h2>

				<dl>
					{
						resume.work.toSorted(dateSorter).map((
							{ name, position, description, highlights, location, startDate, endDate, summary }
						) => (
							<dt>
								<entry-title>
									<span>{position}</span>
								</entry-title>
								<entry-subtitle>
									<span>{name}</span>
									<small>{description}</small>
								</entry-subtitle>
								<entry-date>
									<time datetime={new Date(startDate).toISOString()}>{formatter.format(new Date(startDate))}</time>
									<span>&mdash;</span>
									{
										endDate
											? <time data-enddate datetime={new Date(endDate).toISOString()}>{formatter.format(new Date(endDate))}</time>
										: <span>Present</span>
									}
								</entry-date>
								<entry-location>{location}</entry-location>
							</dt>
							<dd>
								<p>{summary}</p>

								<ul>
									{highlights.map((highlight) => <li>{highlight}</li>)}
								</ul>
							</dd>
						))
					}
				</dl>

				<hr />
			</section>

			<section>
				<h2>Volunteering</h2>
				<dl>
					{
						resume.volunteer.toSorted(dateSorter).map((
							{ position, highlights, startDate, endDate, summary, organization, url }
						) => (
							<dt>
								<entry-title>
									<span>{position}</span>
								</entry-title>
								<entry-subtitle>
									<a href={url} target="_blank" rel="noopener noreferrer" referrerpolicy="no-referrer">{organization}</a>
								</entry-subtitle>
								<entry-date>
									<time datetime={new Date(startDate).toISOString()}>{formatter.format(new Date(startDate))}</time>
									<span>&mdash;</span>
									{
										endDate
											? <time data-enddate datetime={new Date(endDate).toISOString()}>{formatter.format(new Date(endDate))}</time>
										: <span>Present</span>
									}
								</entry-date>
							</dt>
							<dd>
								<p>{summary}</p>

								<ul>
									{highlights.map((highlight) => <li>{highlight}</li>)}
								</ul>
							</dd>
						))
					}
				</dl>

				<hr />
			</section>

			<section>
				<h2>Education</h2>

				<dl>
					{
						resume.education.toSorted(dateSorter).map((
							{ startDate, endDate, url, institution, area, studyType, highlights }
						) => (
							<dt>
								<entry-title>
									<span>{studyType} {area}</span>
								</entry-title>
								<entry-subtitle>
									<a href={url} target="_blank" rel="noopener noreferrer" referrerpolicy="no-referrer">{institution}</a>
								</entry-subtitle>
								<entry-date>
									<time datetime={new Date(startDate).toISOString()}>{formatter.format(new Date(startDate))}</time>
									<span>&mdash;</span>
									{
										endDate
											? <time datetime={new Date(endDate).toISOString()}>{formatter.format(new Date(endDate))}</time>
										: <span>Present</span>
									}
								</entry-date>
							</dt>
							<dd>
								<ul>
									{highlights.map((highlight) => <li>{highlight}</li>)}
								</ul>
							</dd>
						))
					}
				</dl>

				<hr />
			</section>

			<section id="projects">
				<h2>Projects & Talks</h2>

				<dl>
					{
						resume.projects.toSorted(dateSorter).map((
							{ startDate, endDate, url, description, entity, name, type }
						) => (
							<dt>
								{/* @ts-expect-error */}
								<Icon name={projectsMap[type] ?? 'mingcute:test-tube-line'} aria-hidden="true" />
								<entry-title>{name}</entry-title>
								<entry-subtitle>
									<a href={url} target="_blank" rel="noopener noreferrer" referrerpolicy="no-referrer">{entity}</a>
								</entry-subtitle>
								<entry-date>
									<time datetime={new Date(startDate).toISOString()}>{formatter.format(new Date(startDate))}</time>
									<span>&mdash;</span>
									{
										endDate
											? <time data-enddate datetime={new Date(endDate).toISOString()}>{formatter.format(new Date(endDate))}</time>
										: <span>Present</span>
									}
								</entry-date>
							</dt>
							<dd>
								<p>{description}</p>
							</dd>
						))
					}
				</dl>

				<hr />
			</section>

			<section id="awards">
				<h2>Publications & Awards</h2>

				<ul>
					{
						resume.awards.map((
							{ date, awarder, title }
						) => (
							<li>
								<Icon name="mingcute:medal-line" aria-hidden="true" />
								<entry-title>
									<span>{title}</span>
								</entry-title>
								<entry-subtitle>
									<span>{awarder}</span>
								</entry-subtitle>
								<entry-date>
									<time data-enddate datetime={new Date(date).toISOString()}>{formatter.format(new Date(date))}</time>
								</entry-date>
							</li>
						))
					}
					{
						resume.publications.map((
							{ name, publisher, releaseDate }
						) => (
							<li>
								<Icon name="mingcute:document-3-line" aria-hidden="true" />
								<entry-title>
									<span>{name}</span>
								</entry-title>
								<entry-subtitle>
									<span>{publisher}</span>
								</entry-subtitle>
								<entry-date>
									<time data-enddate datetime={new Date(releaseDate).toISOString()}>{formatter.format(new Date(releaseDate))}</time>
								</entry-date>
							</li>
						))
					}
				</ul>

				<hr />
			</section>

			<section>
				<h2>Interests</h2>

				<ul>
					{
						resume.interests.map((
							{ name }
						) => (
							<li>
								<span>{name}</span>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<script src="../assets/js/pages/resume.ts"></script>
	</body>
</html>
