---
import '../assets/css/pages/sitemap.css';
import HtmlHead from '../components/HtmlHead.astro';
import Logo from '../components/Logo.astro';
import OldStyleButtons from '../components/OldStyleButtons.astro';
import SiteNav from '../components/SiteNav.astro';
import SvgDefs from '../components/SvgDefs.astro';
import Webrings from '../components/Webrings.astro';
import { inlineMarkdownRender } from '../utils/markdown.js';
import { listPostsByYearAndMonth } from '../utils/post.js';
import { listAllTalks } from '../utils/talks.js';

const monthMap: Record<string, string> = {
	'01': 'January',
	'02': 'February',
	'03': 'March',
	'04': 'April',
	'05': 'May',
	'06': 'June',
	'07': 'July',
	'08': 'August',
	'09': 'September',
	'10': 'October',
	'11': 'November',
	'12': 'December'
};

interface PageMetadata {
	title: string;
	description: string;
	url: string;
	wip?: true;
	hidden?: true;
}

const aboutPages: PageMetadata[] = [
	{ title: 'Home', url: '/', description: "The website's home page." },
	{ title: 'About', url: '/about/', description: 'More information about me.' },
	{ title: 'Resume', url: '/resume/', description: 'My professional work history.' },
	{ title: 'Hello', url: '/hello/', description: 'Ways to reach me.' },
	{ title: '@madcampos (Social Profile)', url: '/@madcampos/', description: 'A social profile with aggregated posts.', wip: true }
];

const metaPages: PageMetadata[] = [
	{ title: 'Accessibility Statement', url: '/accessibility/', description: 'Statement about accessibility on the website.' },
	{ title: 'AI Statement', url: '/ai/', description: 'Statement about the use of AI on the webstie and AI derivative work.' },
	{ title: 'Changelog', url: '/changelog/', description: 'List of changes for the website.' },
	{ title: 'Colophon', url: '/colophon/', description: 'How the site is made and governing principles principles.' },
	{ title: 'Feeds', url: '/feeds/', description: 'All website feeds in one place.' },
	{ title: 'License & Disclaimer', url: '/license/', description: "Legal jargon for the license of this website's content." },
	{ title: 'Offline Page', url: '/offline/', description: 'The page that shows when you go offline and the Service Worker is working properly.' },
	{ title: 'Privacy Statement', url: '/privacy/', description: 'Statement about privacy and that this site does not use tracking.' },
	{ title: 'Sitemap', url: '/sitemap/', description: 'This page.' },
	{ title: 'TODO', url: '/todo/', description: 'The list of things to do on the website', wip: true },
	{ title: '404', url: '/404/', description: 'The error page that you get when something is not found.' }
];

const coolPages: PageMetadata[] = [
	{ title: 'Blank', url: '/ai/', description: 'A blank page.' },
	{ title: 'Bookmarks', url: '/bookmarks/', description: 'A list of bookmars that I send people to.' },
	{ title: 'Food', url: '/food/', description: 'Reference for food orders at different places. 😉' },
	{ title: 'Now', url: '/now/', description: "What I'm doing right now." },
	{ title: 'Projects', url: '/projects/', description: "A list of personal projects I'm working on." },
	{
		title: 'Styleguide',
		url: '/styleguide/',
		description: "A reference for the website style, all it's components and different parts of the CSS."
	},
	{ title: 'Brand', url: '/brand/', description: 'A reference on the logo and brand.' },
	{ title: 'Pyramid Scheme', url: '/triangle/', description: 'Join this cool club, you will not regret it!', hidden: true }
];

const talkPages: PageMetadata[] = (await listAllTalks()).map(({ id, data }) => ({
	title: data.title,
	url: `/talks/${id}/`,
	description: data.summary
}));

const blogPages = await listPostsByYearAndMonth();
---
<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="https://schema.org/WebPage">
	<HtmlHead
		title="Site Map | Marco Campos"
		description="A list of all pages on the website."
	/>
	<body>
		<a href="/yapping" rel="nofollow" hidden>Don't follow this link</a>

		<skip-to-content>
			<a href="#main">Skip to main content</a>
		</skip-to-content>

		<SiteNav />

		<css-naked-day>
			<hr />
			<h2>Why this website looks so weird?</h2>
			<p>We are celebrating CSS Naked Day!</p>
			<p>Find out more on <a href="/blog/2025/04/css-naked-day-2025">this blog post</a>.</p>
			<hr />
		</css-naked-day>

		<header>
			<Logo
				subtitle="Site Map"
				shortSubtitle="Map"
				title="Site Map Page"
			/>
			<h1>Site Map</h1>
		</header>

		<main id="main">
			<h2>About Pages</h2>
			<dl>
				{
					aboutPages.map(({ url, title, description, hidden, wip }) => (
						<dt data-hidden={hidden ?? null}>
							<a href={url}>
								<Fragment set:html={inlineMarkdownRender(title)} />
								{wip && <draft-tag>WIP</draft-tag>}
							</a>
						</dt>
						<dd>
							<Fragment set:html={inlineMarkdownRender(description)} />
						</dd>
					))
				}
			</dl>
			<h2>Pages related to the website</h2>
			<dl>
				{
					metaPages.map(({ url, title, description, hidden, wip }) => (
						<dt data-hidden={hidden ?? null}>
							<a href={url}>
								<Fragment set:html={inlineMarkdownRender(title)} />
								{wip && <draft-tag>WIP</draft-tag>}
							</a>
						</dt>
						<dd>
							<Fragment set:html={inlineMarkdownRender(description)} />
						</dd>
					))
				}
			</dl>
			<h2>Cool Pages</h2>
			<dl>
				{
					coolPages.map(({ url, title, description, hidden, wip }) => (
						<dt data-hidden={hidden ?? null}>
							<a href={url}>
								<Fragment set:html={inlineMarkdownRender(title)} />
								{wip && <draft-tag>WIP</draft-tag>}
							</a>
						</dt>
						<dd>
							<Fragment set:html={inlineMarkdownRender(description)} />
						</dd>
					))
				}
			</dl>
			<h2>Talk Pages</h2>
			<dl>
				<dt><a href="/talks/">Talks Home</a></dt>
				<dd>A list of talks that I've presented before.</dd>
				{
					talkPages.map(({ url, title, description, hidden, wip }) => (
						<dt data-hidden={hidden ?? null}>
							<a href={url}>
								<Fragment set:html={inlineMarkdownRender(title)} />
								{wip && <draft-tag>WIP</draft-tag>}
							</a>
						</dt>
						<dd>
							<Fragment set:html={inlineMarkdownRender(description)} />
						</dd>
					))
				}
			</dl>
			<h2>Blog</h2>
			<dl>
				<dt><a href="/blog/">Blog Home</a></dt>
				<dd>The blog main page.</dd>

				<dt><a href="/blog/tags/">Blog tags</a></dt>
				<dd>List of tags used in the blog.</dd>

				{
					blogPages.entries().map(([year, months]) => (
						<dt><a href={`/blog/${year}/`}>{year}</a></dt>
						<dd>
							<dl>
								{months.entries().map(([month]) => <dt><a href={`/blog/${year}/${month}/`}>{monthMap[month]}</a></dt>)}
							</dl>
						</dd>
					))
				}
			</dl>
		</main>

		<footer>
			<OldStyleButtons />
			<Webrings />
			<hit-counter></hit-counter>
		</footer>
		<SvgDefs />
		<iab-escape></iab-escape>
	</body>
</html>
