---
/* eslint-disable max-lines */

import { Icon } from 'astro-icon/components';
import '../assets/css/pages/styleguide.css';
import { Image } from 'astro:assets';
import avatar from '../assets/images/me.jpg';
import Card from '../components/Card.astro';
import DecoratedLine from '../components/DecoratedLine.astro';
import HtmlHead from '../components/HtmlHead.astro';
import Logo from '../components/Logo.astro';
import OldStyleButtons from '../components/OldStyleButtons.astro';
import Pagination from '../components/Pagination.astro';
import PromptInjection from '../components/PromptInjection.astro';
import SiteNav from '../components/SiteNav.astro';
import SvgDefs from '../components/SvgDefs.astro';
import Webrings from '../components/Webrings.astro';
import { inlineMarkdownRender } from '../utils/markdown.ts';
import { listAllPosts } from '../utils/post.ts';
import { listAllProjects } from '../utils/projects.ts';

// eslint-disable-next-line @typescript-eslint/no-non-null-assertion
const project = (await listAllProjects())[0]!;
const ProjectContent = (await project.render()).Content;
const formatter = new Intl.DateTimeFormat('en-US', { dateStyle: 'long' });

// eslint-disable-next-line @typescript-eslint/no-non-null-assertion
const post = (await listAllPosts())[0]!;

const framesetHtml = `
	<frameset cols="50%, 50%" rows="50%, 50%">
		<frame src="/assets/documents/test/tic-tac-toe.html"></frame>
		<frame src="/assets/documents/test/tic-tac-toe.html"></frame>
		<frame src="/assets/documents/test/tic-tac-toe.html"></frame>
		<frame src="/assets/documents/test/tic-tac-toe.html"></frame>
	</frameset>
`;
---
<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="https://schema.org/WebPage">
	<HtmlHead
		title="Madcampos Style Guide"
		description="Style Guide for my personal website."
		tags={['css', 'html', 'meta', 'style', 'styleguide']}
	/>
	<body>
		<a href="/yapping" rel="nofollow" hidden>Don't follow this link</a>

		<skip-to-content>
			<a href="#main">Skip to main content</a>
		</skip-to-content>

		<SiteNav />

		<css-naked-day>
			<hr />
			<h2>Why this website looks so weird?</h2>
			<p>We are celebrating CSS Naked Day!</p>
			<p>Find out more on <a href="/blog/2025/04/css-naked-day-2025">this blog post</a>.</p>
			<hr />
		</css-naked-day>

		<header id="page-top">
			<Logo
				subtitle="Style Guide"
				shortSubtitle="Style"
				title="Style Guide"
			/>
			<h1>Style Guide</h1>
		</header>

		<main id="main">
			<details open>
				<summary>
					<h2>Sectioning Elements</h2>
				</summary>

				<section>
					<h3>Address</h3>

					<address>
						123 M.A.D. Way<br />
						Fieldstown, Interwebs<br />
						<a href="mailto:me@madcampos.dev">me@madcampos.dev</a>
					</address>
				</section>

				<section>
					<h3>Headings</h3>

					<h1>I'm Important</h1>
					<h2>I'm less important</h2>
					<h3>I'm even less important</h3>
					<h4>I'm ridiculously less important</h4>
					<h5>I'm not important at all</h5>
					<h6>Why even bother?</h6>
				</section>

				<section>
					<h3>Heading Group</h3>

					<hgroup>
						<h1>Main Title & Co.</h1>
						<p>Or: how to group a title and a subtitle together semantically, and stylistically.</p>
					</hgroup>
				</section>

				<section>
					<h3>Search</h3>

					<search>
						<form action="#" method="get">
							<input-wrapper>
								<label for="search-input">Thine inquiry:</label>
								<input type="search" id="search-input" name="q" placeholder="Inquire away..." />
							</input-wrapper>
							<button type="submit">
								<sr-only>Inquire</sr-only>
								<Icon name="mingcute:crystal-ball-line" aria-hidden="true" />
							</button>
						</form>
					</search>
				</section>

				<section>
					<h3>Other sectioning elements</h3>

					<p>Other sectioning elements are not represented directly, as they are used in conjunction with other elements as building blocks.</p>

					<p>The elements are:</p>

					<ul>
						<li><code>&lt;article&gt;</code></li>
						<li><code>&lt;aside&gt;</code></li>
						<li><code>&lt;footer&gt;</code></li>
						<li><code>&lt;header&gt;</code></li>
						<li><code>&lt;main&gt;</code></li>
						<li><code>&lt;nav&gt;</code></li>
						<li><code>&lt;section&gt;</code></li>
					</ul>
				</section>
			</details>

			<details open>
				<summary>
					<h2>Block Level Text Elements</h2>
				</summary>

				<section>
					<h3>Block Quote</h3>

					<figure>
						<blockquote>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							</p>
							<p>
								Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
								in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
								mollit anim id est laborum.
							</p>
						</blockquote>
						<figcaption><cite>Some Old Roman Dude, Probably</cite></figcaption>
					</figure>
				</section>

				<section>
					<h3>Definition List</h3>

					<dl>
						<dt>definition (noun)</dt>
						<dd>A statement of meaning.</dd>

						<dt>list (noum)</dt>
						<dd>A series of things.</dd>
					</dl>
				</section>

				<section>
					<h3>Figure</h3>

					<figure>
						<img
							src="/assets/images/test/good-parts.webp"
							alt="A photo of two books, side by side, with the first being much bigger than the second. The books are, respectively: Javascript the Definitive Guide; and Javascript the Good Parts"
							loading="lazy"
							width="512"
						/>
						<figcaption>The joys of web development</figcaption>
					</figure>
				</section>

				<section>
					<h3>Horizontal Line</h3>

					<p>Regular line:</p>
					<hr />

					<p>
						Line with <a href="https://en.wikipedia.org/wiki/Fleuron_(typography)" target="_blank" referrerpolicy="no-referrer" rel="noopener noreferrer">fleuron</a>:
					</p>
					<DecoratedLine />
				</section>

				<section>
					<h3>Ordered List</h3>

					<ol>
						<li>
							<span>Cem</span>

							<ol>
								<li>
									<span>Cento e dez</span>
									<ol>
										<li>Cento e onze</li>
										<li>Cento e doze</li>
									</ol>
								</li>
								<li>
									<span>Cento e vinte</span>
									<ol>
										<li>Cento e vinte e um</li>
										<li>Cento e vinte e dois</li>
									</ol>
								</li>
							</ol>
						</li>
						<li>
							<span>Duzentos</span>

							<ol>
								<li>
									<span>Duzentos e dez</span>
									<ol>
										<li>Duzentos e onze</li>
										<li>Duzentos e doze</li>
									</ol>
								</li>
								<li>
									<span>Duzentos e vinte</span>
									<ol>
										<li>Duzentos e vinte e um</li>
										<li>Duzentos e vinte e dois</li>
									</ol>
								</li>
							</ol>
						</li>
					</ol>
				</section>

				<section>
					<h3>Unordered List</h3>

					<ul>
						<li>
							<span>Things I like</span>

							<ul>
								<li>
									<span>Video Games</span>

									<ul>
										<li>Fallout 2</li>
										<li>Rollercoaster Tycoon 2</li>
									</ul>
								</li>
								<li>
									<span>Role-playing Games</span>

									<ul>
										<li>Shadowrun</li>
										<li>Paranoia</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<span>Things I dislike</span>

							<ul>
								<li>
									<span>Prejudice</span>

									<ul>
										<li>Homphobia</li>
										<li>Ableism</li>
										<li>Racism</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</section>

				<section>
					<h3>Paragraph</h3>

					<p>The quick brown fox jumped over the lazy dog.</p>
				</section>

				<section>
					<h3>Preformatted Text</h3>

					<p>Simple text (ASCII art drawing of a whale):</p>
					<pre>
 __v_
(____\/&lcub;
</pre>

					<p>
						Code example (pre-rendered through <a href="https://shiki.style/" target="_blank" referrerpolicy="no-referrer" rel="noopener noreferrer">Shiki</a>).
						<strong>Note:</strong> the code only highlights when inside a <code>&ltrendered-content&gt;</code> element:
					</p>

					<code-wrapper>
						<pre
							class="astro-code astro-code-themes light-plus dark-plus Noctis High Contrast has-diff has-highlighted has-focused"
							style="--shiki-light: #000000; --shiki-dark: #d4d4d4; --shiki-contrast: #ffffff; --shiki-light-bg: #ffffff; --shiki-dark-bg: #1e1e1e; --shiki-contrast-bg: #000000; overflow-x: auto; white-space: pre-wrap; word-wrap: break-word"
							tabindex="0"
							data-language="ts"
						><code><span class="line"><span style="--shiki-light:#008000;--shiki-light-font-style:inherit;--shiki-dark:#6A9955;--shiki-dark-font-style:inherit;--shiki-contrast:#888;--shiki-contrast-font-style:italic">//</span><span class="space"> </span><span style="--shiki-light:#008000;--shiki-light-font-style:inherit;--shiki-dark:#6A9955;--shiki-dark-font-style:inherit;--shiki-contrast:#888;--shiki-contrast-font-style:italic" class="highlighted-word">Code</span><span style="--shiki-light:#008000;--shiki-light-font-style:inherit;--shiki-dark:#6A9955;--shiki-dark-font-style:inherit;--shiki-contrast:#888;--shiki-contrast-font-style:italic"> block</span></span>
	<span class="line diff remove"><span style="--shiki-light:#001080;--shiki-dark:#9CDCFE;--shiki-contrast:#FFB966">console</span><span style="--shiki-light:#000000;--shiki-light-font-weight:inherit;--shiki-dark:#D4D4D4;--shiki-dark-font-weight:inherit;--shiki-contrast:#FF669C;--shiki-contrast-font-weight:bold">.</span><span style="--shiki-light:#795E26;--shiki-dark:#DCDCAA;--shiki-contrast:#00B4CC">log</span><span style="--shiki-light:#000000;--shiki-dark:#D4D4D4;--shiki-contrast:#DDD3CC">(</span><span style="--shiki-light:#A31515;--shiki-dark:#CE9178;--shiki-contrast:#66FFBF">'Hewwo, World!'</span><span style="--shiki-light:#000000;--shiki-dark:#D4D4D4;--shiki-contrast:#DDD3CC">);</span></span>
	<span class="line diff add"><span style="--shiki-light:#001080;--shiki-dark:#9CDCFE;--shiki-contrast:#FFB966">console</span><span style="--shiki-light:#000000;--shiki-light-font-weight:inherit;--shiki-dark:#D4D4D4;--shiki-dark-font-weight:inherit;--shiki-contrast:#FF669C;--shiki-contrast-font-weight:bold">.</span><span style="--shiki-light:#795E26;--shiki-dark:#DCDCAA;--shiki-contrast:#00B4CC">log</span><span style="--shiki-light:#000000;--shiki-dark:#D4D4D4;--shiki-contrast:#DDD3CC">(</span><span style="--shiki-light:#A31515;--shiki-dark:#CE9178;--shiki-contrast:#66FFBF">'Hello, World!'</span><span style="--shiki-light:#000000;--shiki-dark:#D4D4D4;--shiki-contrast:#DDD3CC">);</span></span>
	<span class="line highlighted"><span style="--shiki-light:#001080;--shiki-dark:#9CDCFE;--shiki-contrast:#FFB966">console</span><span style="--shiki-light:#000000;--shiki-light-font-weight:inherit;--shiki-dark:#D4D4D4;--shiki-dark-font-weight:inherit;--shiki-contrast:#FF669C;--shiki-contrast-font-weight:bold">.</span><span style="--shiki-light:#795E26;--shiki-dark:#DCDCAA;--shiki-contrast:#00B4CC">log</span><span style="--shiki-light:#000000;--shiki-dark:#D4D4D4;--shiki-contrast:#DDD3CC">(</span><span style="--shiki-light:#A31515;--shiki-dark:#CE9178;--shiki-contrast:#66FFBF">'Highlighted'</span><span style="--shiki-light:#000000;--shiki-dark:#D4D4D4;--shiki-contrast:#DDD3CC">);</span></span>
	<span class="line highlighted error"><span style="--shiki-light:#001080;--shiki-dark:#9CDCFE;--shiki-contrast:#FFB966">console</span><span style="--shiki-light:#000000;--shiki-light-font-weight:inherit;--shiki-dark:#D4D4D4;--shiki-dark-font-weight:inherit;--shiki-contrast:#FF669C;--shiki-contrast-font-weight:bold">.</span><span style="--shiki-light:#795E26;--shiki-dark:#DCDCAA;--shiki-contrast:#00B4CC">error</span><span style="--shiki-light:#000000;--shiki-dark:#D4D4D4;--shiki-contrast:#DDD3CC">(</span><span style="--shiki-light:#A31515;--shiki-dark:#CE9178;--shiki-contrast:#66FFBF">'Error'</span><span style="--shiki-light:#000000;--shiki-dark:#D4D4D4;--shiki-contrast:#DDD3CC">);</span></span>
	<span class="line highlighted warning"><span style="--shiki-light:#001080;--shiki-dark:#9CDCFE;--shiki-contrast:#FFB966">console</span><span style="--shiki-light:#000000;--shiki-light-font-weight:inherit;--shiki-dark:#D4D4D4;--shiki-dark-font-weight:inherit;--shiki-contrast:#FF669C;--shiki-contrast-font-weight:bold">.</span><span style="--shiki-light:#795E26;--shiki-dark:#DCDCAA;--shiki-contrast:#00B4CC">warn</span><span style="--shiki-light:#000000;--shiki-dark:#D4D4D4;--shiki-contrast:#DDD3CC">(</span><span style="--shiki-light:#A31515;--shiki-dark:#CE9178;--shiki-contrast:#66FFBF">'Warning'</span><span style="--shiki-light:#000000;--shiki-dark:#D4D4D4;--shiki-contrast:#DDD3CC">);</span></span>
	<span class="line focused"><span style="--shiki-light:#001080;--shiki-dark:#9CDCFE;--shiki-contrast:#FFB966">console</span><span style="--shiki-light:#000000;--shiki-light-font-weight:inherit;--shiki-dark:#D4D4D4;--shiki-dark-font-weight:inherit;--shiki-contrast:#FF669C;--shiki-contrast-font-weight:bold">.</span><span style="--shiki-light:#795E26;--shiki-dark:#DCDCAA;--shiki-contrast:#00B4CC">log</span><span style="--shiki-light:#000000;--shiki-dark:#D4D4D4;--shiki-contrast:#DDD3CC">(</span><span style="--shiki-light:#A31515;--shiki-dark:#CE9178;--shiki-contrast:#66FFBF">'Focused'</span><span style="--shiki-light:#000000;--shiki-dark:#D4D4D4;--shiki-contrast:#DDD3CC">);</span></span></code></pre>
					</code-wrapper>
				</section>

				<section>
					<h3>Menu</h3>

					<p><strong>Note:</strong> the <code>&lt;menu&gt;</code> element is no different semantically than the <code>&lt;ul&gt;</code> element.</p>

					<menu>
						<li><button type="button" id="menu-button-1">Say "Hey"</button></li>
						<li><button type="button" id="menu-button-2">Say "Ho"</button></li>
						<li><button type="button" id="menu-button-3">Say "Hey Ho"</button></li>
					</menu>
					<script type="module" is:inline>
						document.querySelector('#menu-button-1')?.addEventListener('click', () => alert('Hey!'));
						document.querySelector('#menu-button-2')?.addEventListener('click', () => alert('Ho!'));
						document.querySelector('#menu-button-3')?.addEventListener('click', () => alert('Hey Ho!'));
					</script>
				</section>
			</details>

			<details open>
				<summary>
					<h2>Inline Text Elements</h2>
				</summary>

				<section>
					<h3>Links</h3>

					<p>Visited link: <a href="/styleguide/">This Page</a></p>
					<p>Not visited link: <a href="#" id="random-link">Random Error Page</a></p>
					<script type="module" is:inline>
						(/** @type {HTMLAnchorElement} */ (document.querySelector('#random-link'))).href = crypto.randomUUID();
					</script>
				</section>

				<section>
					<h3>Abbteviation & Inline Definition</h3>

					<p>
						The term "<dfn><abbr title="Situation Normal, All Fucked Up">SNAFU</abbr></dfn>", meaning "Situation Normal, All Fucked Up", originates from <abbr
							title="World War II"
						>WW2</abbr> military slang.
					</p>
				</section>

				<section>
					<h3>Strong & Bold</h3>

					<p>Whiskey is a <strong>strong</strong> drink, while wine can be <b>bold</b>.</p>
				</section>

				<section>
					<h3>Emphasis & Italic</h3>

					<p><i>Italics</i> is a form of <em>emphasize</em> text.</p>
				</section>

				<section>
					<h3>Size & Position</h3>

					<p>Like on rollercoasters, we can go <sup>up</sup>, <sub>down</sub>, or feel <small>tiny</small>.</p>
				</section>

				<section>
					<h3>Inline Quotes & Citations</h3>

					<p>
						As best said by the Cheshire Cat in <cite><a
								href="https://www.gutenberg.org/ebooks/19033"
								target="_blank"
								rel="noopener noreferrer"
								referrerpolicy="no-referrer"
							>Alice's Adventure in Wonderland</a></cite>:
						<q>If you don't know where you are going any road can take you there.</q>
					</p>
				</section>

				<section>
					<h3>Highlights & Annotations</h3>

					<p>A <mark>highlight</mark> of marking text is that you can indicate <u>typos</u> and <s>cleverness</s> sarcasm.</p>

					<p>Or even, text <del>deletions</del><ins>insertions</ins>.</p>
				</section>

				<section>
					<h3>Computer text</h3>

					<p>You can <code>type</code> all you like, even try to <kbd>Ctrl</kbd> my <var>vars</var>, but all they say is:</p>
					<p><samp>Null Pointer Exception.</samp></p>
				</section>

				<section>
					<h3>Machine readable markup</h3>

					<p><data value="42">The Answer to the Ultimate Question of Life, the Universe, and Everything</data></p>

					<p>Current date and time: <time datetime="" id="cur-time">&mdash;</time></p>
					<script type="module" is:inline>
						const curTimeElement = /** @type {HTMLTimeElement} */ (document.querySelector('#cur-time'));

						setInterval(() => {
							const now = new Date();

							curTimeElement.dateTime = now.toISOString();
							curTimeElement.innerText = now.toLocaleString();
						}, 1000);
					</script>
				</section>

				<section>
					<h3>Breaks & Text Direction</h3>

					<p>
						Here is a line break:
						<br />
						That's it.
					</p>

					<p>Here is a <span>span of text</span>.</p>

					<p>Here is a super long word in a tiny space just for the sake of having word break opportunities:</p>
					<p style="max-inline-size: var(--size-content-0); outline: solid thin var(--theme-color)">
						pneumono<wbr />ultra<wbr />microscopic<wbr />silico<wbr />volcano<wbr />coniosis
					</p>

					<p>Here is some text intentionally right-to-left:</p>
					<p>
						The Hebrew word "<bdo dir="rtl">שָׁלוֹם</bdo>" (Shalom) and the Arabic word "<bdi>سَلَام</bdi>" (Salām) share the same etymologic root. Both have a literal
						meaning of "peace".
					</p>
				</section>

				<section>
					<h3>Ruby Text</h3>

					<p>
						"Ruby" text is a type of annotation to help understanding the meaning of text.
					</p>
					<p>
						In Japanese, this text is know as "<span lang="jp"><ruby>振<rp>(</rp><rt>ふ</rt><rp>)</rp></ruby><span>り</span><ruby>仮<rp>
									(
								</rp><rt>が</rt><rp>)</rp></ruby><ruby>名<rp>(</rp><rt>な</rt><rp>)</rp></ruby></span>" (Furigana).
					</p>
				</section>
			</details>

			<details open>
				<summary>
					<h2>Media Elements</h2>
				</summary>

				<section>
					<h3>Image & Picture</h3>

					<p>An image:</p>

					<img
						src="/assets/images/test/same-meme-clean.webp"
						alt="A meme from The Office with two panels, on the top two squares, one has the text &quot;img&quot;, and the other has the text &quot;picture&quot;. Below them a caption reads &quot;Corporate needs you to find the difference between this picture and this picture.&quot;. The panel below has Pam staring at the camera with a smirk and the caption &quot;They're the same picture.&quot;"
						loading="lazy"
						width="512"
					/>

					<p>A <em>picture</em>:</p>

					<picture>
						<source srcset="/assets/images/test/same-meme.jxl" type="image/jxl" />
						<source srcset="/assets/images/test/same-meme.avif" type="image/avif" />
						<source srcset="/assets/images/test/same-meme.webp" type="image/webp" />
						<source srcset="/assets/images/test/same-meme.png" type="image/png" />
						<source srcset="/assets/images/test/same-meme.gif" type="image/gif" />
						<img
							src="/assets/images/test/same-meme.jpg"
							alt="A meme from The Office with two panels, on the top two squares, one has the text &quot;img&quot;, and the other has the text &quot;picture&quot;. Below them a caption reads &quot;Corporate needs you to find the difference between this picture and this picture.&quot;. The panel below has Pam staring at the camera with a smirk and the caption &quot;They're the same picture.&quot;"
							loading="lazy"
							width="512"
						/>
					</picture>
				</section>

				<section>
					<h3>Area & Map</h3>

					<map name="click-here">
						<area shape="rect" coords="0,3,200,200" href="#click" alt="Click" />
						<area shape="rect" coords="200,0,400,200" href="#here" alt="Here" />
						<img
							src="/assets/images/test/click-here.svg"
							alt="A teal background with black text on top saying &quot;Click Here&quot;."
							width="400"
							usemap="#click-here"
						/>
					</map>
				</section>

				<section>
					<h3>Audio</h3>

					<audio
						src="/assets/audio/bourbon-blues.mp3"
						controls
						preload="auto"
					>
						<a href="/assets/audio/bourbon-blues.mp3" download>Download the audio file</a>
					</audio>
				</section>

				<section>
					<h3>Video</h3>

					<video controls playsinline>
						<source src="/assets/video/test/big-buck-bunny.webm" type="video/webm" />
						<source src="/assets/video/test/big-buck-bunny.mp4" type="video/mp4" />
						<track kind="subtitles" default label="Test Subtitles" src="/assets/video/test/subtitles.vtt" />
						<track kind="captions" label="Test Captions" src="/assets/video/test/captions.vtt" />
						<track kind="descriptions" label="Test Descriptions" src="/assets/video/test/descriptions.vtt" />
						<track kind="chapters" label="Test Chapters" src="/assets/video/test/chapters.vtt" />
					</video>

					<details>
						<summary>Video Description</summary>

						<p>
							The video contains the first 10 seconds of "<cite><a href="https://peach.blender.org/" target="_blank" rel="noopener noreferrer"
								>Big Buck Bunny</a></cite>" with no audio.
						</p>

						<p>In the background there is a lush forest with dense trees.</p>
						<p>In the foreground a small grassy hill with a thick tree on top of it and some rocks scattered around.</p>
						<p>On that hill there is a round opening to a hole.</p>
						<p>The camera slowly closes in to the hole.</p>
					</details>
				</section>
			</details>

			<details open>
				<summary>
					<h2>Embedded Content</h2>
				</summary>

				<section>
					<h3>Iframe Element</h3>

					<p>Simple iframe:</p>
					<iframe
						src="/"
						title="Home page"
						width="320"
						height="240"
						loading="lazy"
					></iframe>

					<p>PDF file:</p>
					<iframe
						src="/assets/documents/test/sample.pdf"
						title="Sample PDF file"
						width="320"
						height="240"
						loading="lazy"
					></iframe>
				</section>

				<section>
					<h3>Embed element</h3>

					<p>PDF file:</p>
					<embed
						src="/assets/documents/test/sample.pdf"
						type="application/pdf"
						width="320"
						height="240"
					/>

					<p>Flash file (<a href="hhttps://ruffle.rs/" target="_blank" rel="noopener noreferrer">Ruffle</a>'s logo):</p>
					<embed
						src="/assets/ruffle-logo.swf"
						type="application/x-shockwave-flash"
						width="320"
						height="240"
					/>
				</section>

				<section>
					<h3>Object Element</h3>

					<p>PDF file:</p>
					<object
						data="/assets/documents/test/sample.pdf"
						type="application/pdf"
						width="320"
						height="240"
					>
						<p>The pdf file did not load.</p>
					</object>

					<p>Flash file (<a href="hhttps://ruffle.rs/" target="_blank" rel="noopener noreferrer">Ruffle</a>'s logo):</p>
					<object
						data="/assets/ruffle-logo.swf"
						type="application/x-shockwave-flash"
						width="320"
						height="240"
					>
						<p>The flash file did not load.</p>
					</object>
				</section>
			</details>

			<details open>
				<summary>
					<h2>SVG & Math</h2>
				</summary>

				<section>
					<h3>SVG</h3>

					<p>An SVG:</p>
					<svg viewBox="0 0 20 10" width="320" height="240">
						<rect x="0" y="0" width="20" height="20" fill="teal" />
						<text y="6" x="10" font-size="3" font-weight="bold" text-anchor="middle" dominant-baseline="middle" font-family="system-ui">I'm an SVG</text>
					</svg>

					<p>The quadratic formula:</p>
					<math display="block">
						<mrow>
							<mi>x</mi>
							<mo>=</mo>
							<mfrac>
								<mrow>
									<mrow>
										<mo>−</mo>
										<mi>b</mi>
									</mrow>
									<mo>±</mo>
									<msqrt>
										<mrow>
											<msup>
												<mi>b</mi>
												<mn>2</mn>
											</msup>
											<mo>−</mo>
											<mrow>
												<mn>4</mn>
												<mo>⁢</mo>
												<mi>a</mi>
												<mo>⁢</mo>
												<mi>c</mi>
											</mrow>
										</mrow>
									</msqrt>
								</mrow>
								<mrow>
									<mn>2</mn>
									<mo>⁢</mo>
									<mi>a</mi>
								</mrow>
							</mfrac>
						</mrow>
					</math>

					<p>Some inline math: <math display="inline"><mi>x</mi> <mo>=</mo> <mn>0</mn></math></p>
				</section>
			</details>

			<details>
				<summary>
					<h2>Canvas</h2>
				</summary>

				<section>
					<h3>2D Canvas</h3>
					<canvas width="320" height="240" id="canvas-2d"></canvas>
					<script type="module" is:inline>
						const canvas = /** @type {HTMLCanvasElement}*/ (document.querySelector('#canvas-2d'));
						const ctx = /** @type {CanvasRenderingContext2D} */ (canvas.getContext('2d'));
						const { width, height } = canvas.getBoundingClientRect();

						canvas.width = Math.floor(width);
						canvas.height = Math.floor(height);

						canvas.style.width = `${canvas.width}px`;
						canvas.style.height = `${canvas.height}px`;

						ctx.canvas.width = canvas.width;
						ctx.canvas.height = canvas.height;

						ctx.fillStyle = 'teal';
						ctx.fillRect(Math.floor(canvas.width / 2) - 50, Math.floor(canvas.height / 2) - 50, 100, 100);
					</script>
				</section>

				<section>
					<h3>3D Canvas</h3>
					<canvas width="320" height="240" id="canvas-3d"></canvas>
					<script type="module" src="/assets/js/test/webgl-cube.js" is:inline></script>
				</section>
			</details>

			<details open>
				<summary>
					<h2>Tables</h2>
				</summary>

				<table-wrapper role="region" tabindex="0" aria-labelledby="table-caption">
					<table>
						<caption>D&D Party Treasure</caption>
						<colgroup>
							<col />
							<col />
							<col />
						</colgroup>

						<thead>
							<tr>
								<th aria-sort="none">Character</th>
								<th aria-sort="none">GP</th>
								<th aria-sort="none">Gems</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Leeroy</td>
								<td>0</td>
								<td>0</td>
							</tr>
							<tr>
								<td>EdgeLord69</td>
								<td>153</td>
								<td>3</td>
							</tr>
							<tr>
								<td>Karen</td>
								<td>300</td>
								<td>1</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th>Total</th>
								<td>453</td>
								<td>4</td>
							</tr>
						</tfoot>
					</table>
				</table-wrapper>
			</details>

			<details open>
				<summary>
					<h2>Forms</h2>
				</summary>

				<form action="#" method="post" enctype="multipart/form-data">
					<fieldset>
						<legend>General Knowledge Questions</legend>

						<input-wrapper>
							<label for="input-name">
								<span>What is your name?</span>
								<input-required><strong>(Required)</strong></input-required>
							</label>
							<input
								type="text"
								name="name"
								id="input-name"
								required
								autocomplete="name"
								placeholder="E.g.: King Arthur of Camelot"
							/>
							<input-error>Provide your name face serious consequences!</input-error>
							<input-success>Thank you for not failing this simple task.</input-success>
						</input-wrapper>

						<input-wrapper>
							<label for="input-quest">
								<span>What is your quest?</span>
								<input-required><strong>(Required)</strong></input-required>
							</label>
							<input
								type="text"
								name="quest"
								id="input-quest"
								required
								minlength="1"
								list="list-quests"
								placeholder="E.g.: To pass the bridge keeper"
							/>
							<datalist id="list-quests">
								<option>To seek the Holy Grail</option>
								<option>To slay the Beast of Caerbanog</option>
								<option>To find a shrubbery</option>
							</datalist>
							<input-error>Provide your quest or you will be held from completing it, by the French!</input-error>
							<input-success>Thank you, you may now proceed.</input-success>
						</input-wrapper>

						<input-wrapper>
							<label for="input-color">
								<span>What is your favourite colour?</span>
								<input-required><strong>(Required)</strong></input-required>
							</label>
							<input
								type="color"
								name="color"
								id="input-color"
								required
								list="list-colors"
							/>
							<datalist id="list-colors">
								<option value="#0080ff">Marco's Blue</option>
								<option value="#ff8000">Marco's Orange</option>
								<option value="#ff0000">Red</option>
								<option value="#00ff00">Blue</option>
								<option value="#0000ff">Green</option>
								<option value="#000000">Black</option>
								<option value="#ffffff">White</option>
								<option value="seagreen">Sea Green</option>
								<option value="navy">Navy Blue</option>
								<option value="tomato">Tomato</option>
								<option value="deeppink">Deep Pink</option>
							</datalist>
							<input-error>Tell me your favourite colour and brighten the world.</input-error>
							<input-success>Thank you for making the world more colourfull.</input-success>
						</input-wrapper>

						<fieldset>
							<legend>What is the capital of Assyria?</legend>
							<input-wrapper>
								<input-required><strong>(Required)</strong></input-required>
								<input-wrapper>
									<input
										type="radio"
										name="capital-of-assyria"
										id="input-capital-1"
										required
										value="Assur"
									/>
									<label for="input-capital-1">Assur</label>
								</input-wrapper>
								<input-wrapper>
									<input
										type="radio"
										name="capital-of-assyria"
										id="input-capital-2"
										required
										value="Kar-Tukulti-Ninurta"
									/>
									<label for="input-capital-2">Kar-Tukulti-Ninurta</label>
								</input-wrapper>
								<input-wrapper>
									<input
										type="radio"
										name="capital-of-assyria"
										id="input-capital-3"
										required
										value="Nimrud"
									/>
									<label for="input-capital-3">Nimrud</label>
								</input-wrapper>
								<input-wrapper>
									<input
										type="radio"
										name="capital-of-assyria"
										id="input-capital-4"
										required
										value="Dur-Sharrukin"
									/>
									<label for="input-capital-4">Dur-Sharrukin</label>
								</input-wrapper>
								<input-wrapper>
									<input
										type="radio"
										name="capital-of-assyria"
										id="input-capital-5"
										required
										value="Nieveh"
									/>
									<label for="input-capital-5">Nieveh</label>
								</input-wrapper>
								<input-wrapper>
									<input
										type="radio"
										name="capital-of-assyria"
										id="input-capital-6"
										required
										value="Harran"
									/>
									<label for="input-capital-6">Harran</label>
								</input-wrapper>

								<input-error>How did you find this error? It should not be possible!</input-error>
								<input-success>Your answer is correct.</input-success>
							</input-wrapper>
						</fieldset>

						<fieldset>
							<legend>What is the airspeed velocity of an unladen swallow?</legend>

							<input-wrapper>
								<label for="input-swallow-type">
									<span>Type of Swallow:</span>
									<input-required><strong>(Required)</strong></input-required>
								</label>

								<select
									name="type-of-swallow"
									id="input-swallow-type"
									required
								>
									<option value="" disabled selected hidden>Select a type of swallow</option>

									<optgroup label="Africa">
										<option>Pied-winged Swallow</option>
										<option>Whire-tailed Swallow</option>
										<option>Whire-throated Swallow</option>
									</optgroup>
									<hr />
									<optgroup label="Asia">
										<option>Barn Swallow</option>
										<option>Pacific Swallow</option>
										<option>Red-rumped Swallow</option>
										<option>Whire-tailed Swallow</option>
									</optgroup>
									<hr />
									<optgroup label="Europe">
										<option>Barn Swallow</option>
										<option>Red-rumped Swallow</option>
									</optgroup>
									<hr />
									<optgroup label="North America">
										<option>Cave Swallow</option>
										<option>Clif Swallow</option>
										<option>Tree Swallow</option>
									</optgroup>
									<hr />
									<optgroup label="Oceania">
										<option>Pacific Swallow</option>
										<option>Welcome Swallow</option>
									</optgroup>
								</select>

								<input-error>Do not confuse me with your mind tricks!</input-error>
								<input-success>Just the swallow I was thinking about...</input-success>
							</input-wrapper>

							<input-wrapper>
								<label for="input-swallow-velocity">
									<span>Airspeed Velocity:</span>
									<input-required><strong>(Required)</strong></input-required>
								</label>
								<input-wrapper>
									<input
										type="number"
										name="airspeed-velocity-of-an-unladen-swallow"
										id="input-swallow-velocity"
										required
										min="0"
										max="1000"
										step="0.1"
										placeholder="E.g.: 10"
									/>
									<input-infix>m/s</input-infix>
								</input-wrapper>

								<input-error>Not the correct velocity, keep guessing...</input-error>
								<input-success>Your answer is correct.</input-success>
							</input-wrapper>
						</fieldset>
					</fieldset>

					<fieldset>
						<legend>Dates and Time</legend>

						<input-wrapper>
							<label for="input-date">
								<span>What day is today?</span>
								<input-required><strong>(Required)</strong></input-required>
							</label>
							<input
								type="date"
								name="today"
								id="input-date"
								required
								step="1"
							/>

							<input-error>Not today, but close enough.</input-error>
							<input-success>It is today, yay!</input-success>
						</input-wrapper>
						<script type="module" is:inline>
							const dateInput = /** @type {HTMLInputElement} */ (document.querySelector('#input-date'));
							const now = new Date();
							const todayString = `${now.getFullYear()}-${(now.getMonth() + 1).toString().padStart(2, '0')}-${
								now.getDate().toString().padStart(2, '0')
							}`;

							dateInput.min = todayString;
							dateInput.max = todayString;
							dateInput.value = todayString;
						</script>

						<input-wrapper>
							<label for="input-datetime">
								<span>Your birth date and time (for your astrology birth chart):</span>
								<input-required><strong>(Required)</strong></input-required>
							</label>
							<input
								type="datetime-local"
								name="birthday"
								id="input-datetime"
								required
								autocomplete="bday"
							/>

							<input-error>Astrology is really important and says a lot about us, please provide your birth date and time.</input-error>
							<input-success>Thank you, your chart is coming soon...</input-success>
						</input-wrapper>

						<input-wrapper>
							<label for="input-month">
								<span>Summer has come and past, the innocent can never last, when should you wake up?</span>
								<input-required><strong>(Required)</strong></input-required>
							</label>
							<input
								type="month"
								name="wake-me-up-when-september-ends"
								id="input-month"
								required
							/>

							<input-error>Still summer, not the right month.</input-error>
							<input-success>Wake me up, when Spetember ends... 🎵</input-success>
						</input-wrapper>
						<script type="module" is:inline>
							const monthInput = /** @type {HTMLInputElement} */ (document.querySelector('#input-month'));
							const targetDate = new Date();

							if (targetDate.getMonth() >= 9) {
								targetDate.setFullYear(targetDate.getFullYear() + 1);
							}

							monthInput.min = `${targetDate.getFullYear()}-10`;
							monthInput.max = `${targetDate.getFullYear()}-12`;
						</script>

						<input-wrapper>
							<label for="input-time">What time to set an alarm for?</label>
							<input
								type="time"
								name="alarm"
								id="input-time"
							/>
						</input-wrapper>

						<input-wrapper>
							<label for="input-week">
								<span>Choose a week for the corporate quarterly meeting:</span>
								<input-required><strong>(Required)</strong></input-required>
							</label>
							<input
								type="week"
								name="corporate-quarterly-meeting"
								id="input-week"
								required
							/>

							<input-error>Please provide a data, or else we will need to form a committe to formulate a plan of action, then form an assembly and vote on what to do
								with you.</input-error>
							<input-success>Thank you, your manager appeciates the input.</input-success>
						</input-wrapper>
						<script type="module" is:inline>
							const weekInput = /** @type {HTMLInputElement} */ (document.querySelector('#input-week'));
							const now = new Date();

							weekInput.min = `${now.getFullYear()}-W04`;
							weekInput.max = `${now.getFullYear()}-W50`;
						</script>
					</fieldset>

					<fieldset>
						<legend>Marketing Options</legend>

						<input-wrapper>
							<label for="input-email">
								<span>Your email:</span>
								<input-required><strong>(Required)</strong></input-required>
							</label>
							<input
								type="email"
								name="email"
								id="input-email"
								required
								autocomplete="email"
								inputmode="email"
								placeholder="E.g.: arthur@camelot.com"
							/>

							<input-error>Your email is very important to us.</input-error>
							<input-success>Thank you, we won't send much spam.</input-success>
						</input-wrapper>

						<input-wrapper>
							<label for="input-tel">
								<span>Your phone number:</span>
								<input-required><strong>(Required)</strong></input-required>
							</label>
							<input
								type="tel"
								name="phone"
								id="input-tel"
								required
								autocomplete="tel"
								pattern="+\d{1,3} \d{4,}"
								placeholder="E.g.: +44 1234567890"
								inputmode="tel"
								aria-describedby="input-tel-hint"
							/>

							<input-error>Your phone number is extremely important to us.</input-error>
							<input-success>Thank you, we won't call you... much.</input-success>

							<input-hint id="input-tel-hint"
							>Phone numbers must start with a "+", followed by the country code, a space, and the phone number without spaces.</input-hint>
						</input-wrapper>

						<input-wrapper>
							<label for="input-url">
								<span>Link to your social media account:</span>
								<input-required><strong>(Required)</strong></input-required>
							</label>
							<input
								type="url"
								name="social-media-link"
								id="input-url"
								required
								autocomplete="url"
								inputmode="url"
								placeholder="E.g.: https://instagram.com/kingarthur"
							/>

							<input-error>It is standard procedura to view all your posts, including the ones from 15 years ago, please provide a link to your social madia
								account.</input-error>
							<input-success>Look what I found... Old photos!</input-success>
						</input-wrapper>

						<input-wrapper>
							<label for="input-file">
								<span>Photo of your government ID:</span>
								<input-required><strong>(Required)</strong></input-required>
							</label>
							<input
								type="file"
								name="government-id"
								id="input-file"
								required
								accept=".jpg,.jpeg,.png,.gif"
								aria-describedby="input-file-hint"
							/>

							<input-error>ID is required to verify your age.</input-error>
							<input-success>Age verification passed.</input-success>

							<input-hint id="input-file-hint">Formats accepted: JPEG, PNG, GIF. Maximum file size: 2mb</input-hint>
							<input-hint>This will be securely saved and never leeked in any major breaches or hacks. Pinky promise.</input-hint>
						</input-wrapper>
						<figure>
							<figcaption>ID preview:</figcaption>
							<output for="input-file" id="output-file" aria-live="off">&mdash;</output>
						</figure>
						<script type="module" is:inline>
							const input = /** @type {HTMLInputElement} */ (document.querySelector('#input-file'));
							const output = /** @type {HTMLOutputElement} */ (document.querySelector('#output-file'));

							function updateOutput() {
								const [file] = input.files ?? [];

								if (!file) {
									output.innerHTML = '&mdash;';
									return;
								}

								if (!file.type.startsWith('image/')) {
									output.innerHTML = '&mdash;';
									return;
								}

								output.innerHTML = `<img alt="" src="${URL.createObjectURL(file)}" width="256" height="256" />`;
							}

							input.addEventListener('input', updateOutput);
							input.addEventListener('change', updateOutput);
						</script>

						<input-wrapper>
							<label for="input-file-capture">
								<span>Provide a selfie:</span>
								<input-required><strong>(Required)</strong></input-required>
							</label>
							<input
								type="file"
								name="selfie"
								id="input-file-capture"
								required
								accept=".jpg,.jpeg,.png,.gif"
								capture
								aria-describedby="input-file-capture-hint"
							/>

							<input-error>Selfie is required to verify your age.</input-error>
							<input-success>Age verification passed.</input-success>

							<input-hint id="input-file-capture-hint">Formats accepted: JPEG, PNG, GIF. Maximum file size: 2mb</input-hint>
							<input-hint>This will be securely saved and never leeked in any major breaches or hacks. Pinky promise.</input-hint>
						</input-wrapper>
						<figure>
							<figcaption>Selfie preview:</figcaption>
							<output for="input-file-capture" id="output-file-capture" aria-live="off">&mdash;</output>
						</figure>
						<script type="module" is:inline>
							const input = /** @type {HTMLInputElement} */ (document.querySelector('#input-file-capture'));
							const output = /** @type {HTMLOutputElement} */ (document.querySelector('#output-file-capture'));

							function updateOutput() {
								const [file] = input.files ?? [];

								if (!file) {
									output.innerHTML = '&mdash;';
									return;
								}

								if (!file.type.startsWith('image/')) {
									output.innerHTML = '&mdash;';
									return;
								}

								output.innerHTML = `<img alt="" src="${URL.createObjectURL(file)}" width="256" height="256" />`;
							}

							input.addEventListener('input', updateOutput);
							input.addEventListener('change', updateOutput);
						</script>

						<input-wrapper>
							<label for="input-file-dir">
								<span>A folder with your last 5 years of tax documents:</span>
								<input-required><strong>(Required)</strong></input-required>
							</label>
							{/* @ts-expect-error */}
							<input
								type="file"
								name="tax-documents"
								id="input-file-dir"
								required
								webkitdirectory
							/>

							<input-error>Tax documents are required to verify your age.</input-error>
							<input-success>Age verification passed.</input-success>

							<input-hint>This will be securely saved and never leeked in any major breaches or hacks. Pinky promise.</input-hint>
						</input-wrapper>
						<figure>
							<figcaption>Folder list preview:</figcaption>
							<output for="input-file-dir" aria-live="off">
								<ul id="output-file-dir"></ul>
							</output>
						</figure>
						<script type="module" is:inline>
							const input = /** @type {HTMLInputElement} */ (document.querySelector('#input-file-dir'));
							const output = /** @type {HTMLUListElement} */ (document.querySelector('#output-file-dir'));

							function updateOutput() {
								if (!input.files || input.files.length === 0) {
									output.innerHTML = '';
									return;
								}

								output.innerHTML = '';

								for (const file of input.files) {
									const url = URL.createObjectURL(file);

									output.insertAdjacentHTML(
										'beforeend',
										`<li><a href="${url}" targer="_blank">${file.webkitRelativePath}</a></li>`
									);
								}
							}

							input.addEventListener('input', updateOutput);
							input.addEventListener('change', updateOutput);
						</script>

						<input-wrapper>
							<label for="input-file-multiple">
								<span>A collection of photos and videos for training AI models:</span>
								<input-required><strong>(Required)</strong></input-required>
							</label>
							<input
								type="file"
								name="ai-training-data"
								id="input-file-multiple"
								required
								multiple
								accept="image/*,video/*"
							/>

							<input-error>AI model training is mandatory.</input-error>
							<input-success>Thank you, the slop will be sloppier with your contribution.</input-success>

							<input-hint>This will be securely saved and never leeked in any major breaches or hacks. Pinky promise.</input-hint>
						</input-wrapper>
						<figure>
							<figcaption>Training data preview:</figcaption>
							<output for="input-file-multiple" aria-live="off">
								<ul id="output-file-multiple"></ul>
							</output>
						</figure>
						<script type="module" is:inline>
							const input = /** @type {HTMLInputElement} */ (document.querySelector('#input-file-multiple'));
							const output = /** @type {HTMLUListElement} */ (document.querySelector('#output-file-multiple'));

							function updateOutput() {
								if (!input.files || input.files.length === 0) {
									output.innerHTML = '';
									return;
								}

								output.innerHTML = '';

								for (const file of input.files) {
									const url = URL.createObjectURL(file);
									let result = `<li><a href="${url}" targer="_blank">${file.name ?? 'Untitled'}</a></li>`;

									if (file.type.startsWith('image/')) {
										result = `<img alt="" src="${url}" width="256" height="256" />`;
									} else if (file.type.startsWith('video/')) {
										result = `<video controls playsinline src="${url}" width="256" height="256"></video>`;
									}

									output.insertAdjacentHTML('beforeend', result);
								}
							}

							input.addEventListener('input', updateOutput);
							input.addEventListener('change', updateOutput);
						</script>

						<input-wrapper>
							<label for="input-password">
								<span>A secure password for your subscription:</span>
								<input-required><strong>(Required)</strong></input-required>
							</label>
							<input
								type="password"
								name="password"
								id="input-password"
								required
								minlength="16"
								aria-describedby="input-password-hint"
								placeholder="E.g.: correct horse battery staple"
							/>

							<input-error>
								<p>Password must include:</p>
								<ul>
									<li>An upper case character</li>
									<li>A lower case character</li>
									<li>A prime number</li>
									<li>An emoji</li>
									<li>Your Social Security Number</li>
									<li>Your mother's maiden name</li>
								</ul>
							</input-error>
							<input-success id="input-password-success"></input-success>
							<input-hint id="input-password-hint"><strong>Important:</strong> The password is rerquired for any changes in the future.</input-hint>
							<input-hint>
								<label for="password-strength">Password Strength:</label>
								<output for="input-password" aria-live="off">
									<meter
										id="password-strength"
										min="0"
										low="1"
										high="2"
										optimum="3"
										max="4"
										value="0"
									>
										&mdash;
									</meter>
								</output>
							</input-hint>
						</input-wrapper>
						<script type="module" is:inline>
							const input = /** @type {HTMLInputElement} */ (document.querySelector('#input-password'));
							const output = /** @type {HTMLMeterElement} */ (document.querySelector('#password-strength'));
							const inputSuccess = /** @type {HTMLElement} */ (document.querySelector('#input-password-success'));

							function updateOutput() {
								if (input.value.length === 0) {
									output.value = 0;
									output.innerHTML = '&mdash;';
								} else if (input.value.length <= 16) {
									output.value = 1;
									output.innerHTML = 'Poor';
								} else if (input.value.length <= 24) {
									output.value = 2;
									output.innerHTML = 'Good';
								} else if (input.value.length <= 32) {
									output.value = 3;
									output.innerHTML = 'Great';
								} else {
									output.value = 4;
									output.innerHTML = 'Excellent';
								}

								inputSuccess.textContent = input.value;
							}

							input.addEventListener('input', updateOutput);
							input.addEventListener('change', updateOutput);
						</script>

						<input-wrapper>
							<label for="input-range">
								<span>Number of emails to receive per hour:</span>
								<input-required><strong>(Required)</strong></input-required>
							</label>
							<input-wrapper>
								<input
									type="range"
									name="emails-per-hour"
									id="input-range"
									required
									min="100"
									max="10000"
									step="1"
									value="8580"
								/>

								<input-infix>
									<output for="input-range" id="output-range" aria-live="polite">8580</output>
									<sr-only>Emails per hour</sr-only>
								</input-infix>
							</input-wrapper>

							<input-error>Please provide a reasonable amount of span yo uare expected to receive per hour.</input-error>
							<input-success>Spam on the way.</input-success>
						</input-wrapper>
						<script type="module" is:inline>
							const input = /** @type {HTMLInputElement} */ (document.querySelector('#input-range'));
							const output = /** @type {HTMLOutputElement} */ (document.querySelector('#output-range'));

							function updateOutput() {
								output.textContent = input.value;
							}

							input.addEventListener('input', updateOutput);
							input.addEventListener('change', updateOutput);
						</script>

						<input-wrapper>
							<label for="input-email-multiple">
								<span>Friends to invite to our newsletter:</span>
								<input-required><strong>(Required)</strong></input-required>
							</label>
							<input
								type="email"
								name="spam-email"
								id="input-email-multiple"
								inputmode="email"
								multiple
								required
								placeholder="E.g.: lancelot@camelot.com, galahad@camelot.com"
							/>

							<input-error>Don't you have any friends? Hand over their emails.</input-error>
							<input-success>Friendship is magic.</input-success>
						</input-wrapper>

						<input-wrapper>
							<label for="select-multiple">
								<span>Select from the list below which of our partners you would like to share your data:</span>
								<input-required><strong>(Required)</strong></input-required>
							</label>

							<select
								name="share-partners"
								id="select-multiple"
								multiple
								required
							>
								<optgroup label="Data Harvesting">
									<option selected>YourData.com</option>
									<option selected>Meta-Data</option>
									<option selected>Alphabetical</option>
									<option selected>Visage Livre</option>
									<option selected>Astronomically Large Number</option>
								</optgroup>
								<hr />
								<optgroup label="Advertizing">
									<option selected>ClickRate</option>
									<option selected>Ad2Click</option>
									<option selected>Ads4You</option>
									<option selected>AdsSquared</option>
								</optgroup>
							</select>

							<input-error>Our partners need your data as much as we do, please share your data with them.</input-error>
							<input-success>Sharing is caring.</input-success>
						</input-wrapper>

						<input-wrapper>
							<input-wrapper>
								<input
									type="checkbox"
									name="tos-accepted"
									id="input-checkbox"
									required
									aria-describedby="input-checkbox-hint"
								/>
								<label for="input-checkbox">
									<span>I hereby unconditinally accept all terms and conditions</span>
									<input-required><strong>(Required)</strong></input-required>
								</label>
							</input-wrapper>

							<input-error>You have not given us your consent, even though it is mandatory we still need it.</input-error>
							<input-success>This checkbox is legally binding.</input-success>
							<input-hint id="input-checkbox-hint">
								<strong>Note:</strong>
								<span>Reading the Terms and Conditions is optional.</span>
								<span>Accepting them is <em>mandatory</em>.</span>
							</input-hint>
						</input-wrapper>
					</fieldset>

					<fieldset>
						<legend>Miss Universe Acceptance Sppech</legend>

						<p>Please write a 700 word essay on why you deserve and are worth to be crowned Miss Universe.</p>

						<input-wrapper>
							<label for="input-textarea">
								<span>Your speech:</span>
								<input-required><strong>(Required)</strong></input-required>
							</label>
							<textarea
								name="acceptance-speech"
								id="input-textarea"
								rows="10"
								cols="20"
								autocapitalize="sentences"
								autocorrect="on"
								spellcheck="true"
								wrap="soft"
								required
								placeholder="E.g.: I personally believe, that US Americans are unable to do so because some people out there, in our nation, don't have maps. And I believe that our education, like, such as in South Africa and Iraq, everywhere like, such as, and I believe that they should... Our education, over here in the US, should help the US, or should help South Africa, and should help Iraq and the Asian countries. So we will be able to build up our future for our children."
							></textarea>

							<input-error>Don't leave your fans waiting, please writa a deep and thought provoking speech.</input-error>
							<input-success>Wow, so deep, much powerfull, quite inspiring!</input-success>
						</input-wrapper>
						<p>
							<label for="word-count">Word count:</label>
							<output for="input-textarea" aria-live="off">
								<progress
									id="word-count"
									max="700"
									value="0"
								>
									&mdash;
								</progress>
								<span id="word-count-text">&mdash;</span>
							</output>
						</p>

						<script type="module" is:inline>
							const input = /** @type {HTMLInputElement} */ (document.querySelector('#input-textarea'));
							const output = /** @type {HTMLProgressElement} */ (document.querySelector('#word-count'));
							const outputText = /** @type {HTMLProgressElement} */ (document.querySelector('#word-count-text'));
							const segmenter = new Intl.Segmenter(navigator.languages, { granularity: 'word' });

							function updateOutput() {
								const wordCount = [...segmenter.segment(input.value)].filter((segment) => segment.isWordLike).length;

								output.value = wordCount;
								output.max = Math.max(700, wordCount);
								output.innerHTML = wordCount === 0 ? '&mdash;' : `${wordCount} words`;
								outputText.innerHTML = output.innerHTML;
							}

							input.addEventListener('input', updateOutput);
							input.addEventListener('change', updateOutput);
						</script>
					</fieldset>

					<fieldset>
						<legend>Magic Elements</legend>

						<input-wrapper>
							<label for="input-hidden">Security code, please take note:</label>
							<input type="hidden" name="hidden" id="input-hidden" value="password" />
						</input-wrapper>

						<input-wrapper>
							<input type="checkbox" name="maybe" id="input-intermediate" value="maybe" />
							<label for="input-intermediate">It's checked, maybe.</label>
							<script type="module" is:inline>
								const intermediateCheckbox = /** @type {HTMLInputElement} */ (document.querySelector('#input-intermediate'));

								intermediateCheckbox.indeterminate = true;
							</script>
						</input-wrapper>
					</fieldset>

					<footer>
						<button type="submit">Submit</button>
						<input type="submit" value="Submit, but input" />
						<input
							type="image"
							src="/assets/images/test/fancy-submit.svg"
							alt="Submit, but fancier"
							height="32"
						/>
						<hr />
						<button type="reset">Reset</button>
						<input type="reset" value="Reset, but input" />
						<hr />
						<button type="button" id="button-button">Button</button>
						<input type="button" id="input-button" value="Button, but input" />

						<script type="module" is:inline>
							document.querySelector('#button-button')?.addEventListener(
								'click',
								() => alert('Bada bing, bada button clicked.')
							);
							document.querySelector('#input-button')?.addEventListener('click', () => alert('Bada bing, bada input clicked.'));
						</script>
					</footer>
				</form>
			</details>

			<details open>
				<summary>
					<h2>Interactive Elements</h2>
				</summary>

				<section>
					<h3>Details & Summary</h3>

					<p>Regular one:</p>

					<details>
						<summary>Spoiler alert</summary>

						<p>You've been spoiled.</p>
					</details>

					<p>Exclusive accordion:</p>

					<details name="exclusive-accordion">
						<summary>The Good</summary>

						<p>Some good content.</p>
					</details>
					<details name="exclusive-accordion">
						<summary>The Bad</summary>

						<p>Some bad content.</p>
					</details>
					<details name="exclusive-accordion">
						<summary>The Ugly</summary>

						<p>Some ugly content.</p>
					</details>
				</section>

				<section>
					<h3>Dialog</h3>

					<p>Regular dialog:</p>
					<button type="button" id="dialog-regular-open">Open Sesame</button>
					<dialog id="dialog-regular">
						<dialog-content>
							<p>Hi, I'm Sesame, you can close me now.</p>
						</dialog-content>
						<footer>
							<button type="button" id="dialog-regular-close">Close Sesame</button>
						</footer>
					</dialog>
					<script type="module" is:inline>
						const dialog = /** @type {HTMLDialogElement} */ (document.querySelector('#dialog-regular'));
						const openButton = /** @type {HTMLButtonElement} */ (document.querySelector('#dialog-regular-open'));
						const closeButton = /** @type {HTMLButtonElement} */ (document.querySelector('#dialog-regular-close'));

						openButton.addEventListener('click', () => dialog.showModal());
						closeButton.addEventListener('click', () => dialog.close());
					</script>

					<p>Light dismiss dialog:</p>
					<button type="button" id="dialog-light-open">Open Sesame Light</button>
					<dialog id="dialog-light" closedby="any">
						<header>
							<h2>Light dismiss dialog</h2>
						</header>
						<dialog-content>
							<p>Hi, I'm Sesame Light, you can close me now.</p>
						</dialog-content>
						<footer>
							<button type="button" id="dialog-light-close">Close Sesame Light</button>
						</footer>
					</dialog>
					<script type="module" is:inline>
						const dialog = /** @type {HTMLDialogElement} */ (document.querySelector('#dialog-light'));
						const openButton = /** @type {HTMLButtonElement} */ (document.querySelector('#dialog-light-open'));
						const closeButton = /** @type {HTMLButtonElement} */ (document.querySelector('#dialog-light-close'));

						openButton.addEventListener('click', () => dialog.showModal());
						closeButton.addEventListener('click', () => dialog.close());
					</script>

					<p>Popover dialog:</p>
					<button
						type="button"
						id="dialog-popover-open"
						popovertarget="dialog-popover"
						popovertargetaction="show"
					>
						Open Sesame Pop
					</button>
					<dialog id="dialog-popover" closedby="any" popover>
						<header>
							<h2>Popover dialog</h2>

							<button
								type="button"
								id="dialog-popover-close"
								popovertarget="dialog-popover"
								popovertargetaction="hide"
							>
								Close Sesame Pop
							</button>
						</header>
						<dialog-content>
							<p>Hi, I'm Sesame Pop, you can close me now.</p>
						</dialog-content>
					</dialog>
				</section>
			</details>

			<details open>
				<summary>
					<h2>Components</h2>
				</summary>

				<section>
					<h3>Author Card</h3>

					<author-card>
						<aside itemprop="author" itemscope itemtype="https://schema.org/Person">
							<a href="https://madcampos.dev/">
								<m-avatar>
									<picture
										class="user-avatar"
										itemprop="image"
										itemscope
										itemtype="https://schema.org/ImageObject"
									>
										<Image
											class="u-photo photo"
											itemprop="contentUrl"
											src={avatar}
											alt="A picture of my face with a smile looking at the camera. I'm wearing aviator glasses, a fake fur winter hat and an orange scarf."
											loading="lazy"
											widths={/* eslint-disable-line @typescript-eslint/no-magic-numbers */ [128, 256, 512, 768, 1024]}
											width={512}
											sizes="(max-width: 360px) 128px, (max-width: 720px) 256px, (max-width: 1280px) 512px, (max-width: 2160px) 768px 1024px"
											quality={75}
										/>
									</picture>
								</m-avatar>
							</a>

							<a class="p-author h-card author-name" rel="author" itemprop="url" href="https://madcampos.dev/">
								<h2 itemprop="name">Marco Campos</h2>
							</a>

							<p>
								Marco is a Staff developer with over 15 years of experience, ranging from front-end to back-end development, and as he likes to put it: "When I
								started layouts were done with tables and Flash was still a thing." He has a passion for accessibility and PWAs and loves to teach and share his
								knowledge with others. He strongly believe that technology and specially the web should be open and available to eveyone, and that's why he's always
								looking for ways to make the web a better place and contribute to open source projects.
							</p>
						</aside>
					</author-card>
				</section>

				<section>
					<h3>Avatar</h3>

					<m-avatar>
						<picture
							class="user-avatar"
							itemprop="image"
							itemscope
							itemtype="https://schema.org/ImageObject"
						>
							<Image
								class="u-photo photo"
								itemprop="contentUrl"
								src={avatar}
								alt="A picture of my face with a smile looking at the camera. I'm wearing aviator glasses, a fake fur winter hat and an orange scarf."
								loading="lazy"
								widths={/* eslint-disable-line @typescript-eslint/no-magic-numbers */ [128, 256, 512, 768, 1024]}
								width={512}
								sizes="(max-width: 360px) 128px, (max-width: 720px) 256px, (max-width: 1280px) 512px, (max-width: 2160px) 768px 1024px"
								quality={75}
							/>
						</picture>
					</m-avatar>
				</section>

				<section>
					<h3>Baseline Info</h3>

					<baseline-info feature="conic-gradients"></baseline-info>
					<baseline-info feature="declarative-shadow-dom"></baseline-info>
					<baseline-info feature="network-information"></baseline-info>
					<baseline-info feature="foo-bar-baz"></baseline-info>
				</section>

				<section>
					<h3>Card</h3>

					<Card
						url={project.data.url}
						draft={project.data.draft}
						itemtype="http://schema.org/WebApplication"
						image={project.data.image}
						imageAlt={project.data.imageAlt ?? ''}
						themeImages={project.data.themeImages}
					>
						<Fragment slot="meta">
							<meta itemprop="operatingSystem" content="https://schema.org/AllOperatingSystem" />
							<meta itemprop="browserRequirements" content="https://schema.org/GenericWebPlatform" />
							<meta itemprop="applicationCategory" content="BrowserApplication" />
							<div itemprop="offers" itemscope itemtype="https://schema.org/Offer" hidden>
								<meta itemprop="availability" content="https://schema.org/InStock" />
								<meta itemprop="price" content="0" />
								<meta itemprop="priceCurrency" content="USD" />
							</div>
							<meta itemprop="isAccessibleForFree" content="True" />
						</Fragment>
						<h2 slot="title">
							{/* eslint-disable-next-line astro/no-set-html-directive */}
							<Fragment set:html={inlineMarkdownRender(project.data.title)} />
						</h2>

						<Fragment slot="subtitle">
							<draft-tag data-status={project.data.status}>
								<Icon name={project.data.status === 'ongoing' ? 'mingcute:time-line' : 'mingcute:check-circle-line'} title="Project status" /> {
									project.data.status === 'ongoing' ? 'Ongoing' : 'Finished'
								}
							</draft-tag>
							<span>
								<Icon name="mingcute:calendar-2-line" title="Date started" />
								<time datetime={project.data.createdAt.toISOString()} itemprop="dateCreated">{formatter.format(project.data.createdAt)}</time>
								{
									project.data.updatedAt && (
										<span>&mdash; <time datetime={project.data.updatedAt.toISOString()} itemprop="dateModified">{
												formatter.format(project.data.updatedAt)
											}</time></span>
									)
								}
							</span>
							<span itemprop="softwareVersion">
								<Icon name="mingcute:package-2-line" title="Current version" /> {project.data.version}
							</span>
						</Fragment>

						<ProjectContent />

						<Fragment slot="links">
							{
								project.data.url && (
									<a href={project.data.url} rel="noopener noreferrer" referrerpolicy="no-referrer" itemprop="installUrl">
										<Icon name="mingcute:link-2-line" aria-hidden="true" />
										View Project
									</a>
								)
							}
							&nbsp;
							{
								project.data.repository && (
									<a href={project.data.repository} rel="noopener noreferrer" referrerpolicy="no-referrer">
										<Icon name="mingcute:github-line" aria-hidden="true" />
										View Repository
									</a>
								)
							}
						</Fragment>

						<details slot="footer">
							<summary>
								<span>
									<Icon name="mingcute:tool-line" aria-hidden="true" />
									Technologies used
								</span>
							</summary>

							<tag-list>
								<ul>
									{project.data.techStack?.map((tech) => <li><tag-item><span>{tech}</span></tag-item></li>)}
								</ul>
							</tag-list>
						</details>
					</Card>
				</section>

				<section>
					<h3>CSS Naked Day Info</h3>

					<p>This component is in the header of most pages, but only shows when CSS is disabled.</p>

					<p><a href="/styleguide/?css=disabled">Reload Page with CSS off</a></p>
					<p><a href="/styleguide/?css=">Reload Page with CSS back to default</a></p>
				</section>

				<section>
					<h3>Draft Tag</h3>

					<p>Marks when a post or other entry is a "draft".</p>
					<p>This is a <draft-tag>Draft</draft-tag></p>
				</section>

				<section>
					<h3>In-App Browser Escape</h3>

					<p>For various reasons, In-App Browsers are a curse. This JS componet loads when you are in one of those.</p>
					<p>To test the component click on the link below:</p>
					<p><a href="/styleguide/?iabEscape=true">Reload Page with IAB debugging enabled</a></p>
				</section>

				<section>
					<h3>Image Lightbox</h3>

					<p>This enables extra features to images when they are inside a <code>&lt;img-lightbox&gt;</code> component.</p>

					<img-lightbox>
						<img
							src="/assets/images/test/good-parts.webp"
							alt="A photo of two books, side by side, with the first being much bigger than the second. The books are, respectively: Javascript the Definitive Guide; and Javascript the Good Parts"
							loading="lazy"
							width="512"
						/>
					</img-lightbox>
				</section>

				<section>
					<h3>Logo</h3>

					<p><a href="/brand/">For logo information, see the brand page</a></p>
				</section>

				<section>
					<h3>Notes</h3>

					<m-note data-type="success">
						<Icon name="mingcute:check-circle-line" aira-hidden="true" />
						<rendered-content>
							<p>You have been <strong>succeeded</strong>.</p>
						</rendered-content>
					</m-note>

					<m-note data-type="error">
						<Icon name="mingcute:alert-octagon-line" aira-hidden="true" />
						<rendered-content>
							<p>You have been <strong>errorred</strong>.</p>
						</rendered-content>
					</m-note>

					<m-note data-type="warning">
						<Icon name="mingcute:alert-line" aira-hidden="true" />
						<rendered-content>
							<p>You have been <strong>warned</strong>.</p>
						</rendered-content>
					</m-note>

					<m-note data-type="alert">
						<Icon name="mingcute:alert-diamond-line" aira-hidden="true" />
						<rendered-content>
							<p>You have been <strong>alerted</strong>.</p>
						</rendered-content>
					</m-note>

					<m-note data-type="info">
						<Icon name="mingcute:information-line" aira-hidden="true" />
						<rendered-content>
							<p>You have been <strong>informed</strong>.</p>
						</rendered-content>
					</m-note>

					<m-note data-type="debug">
						<Icon name="mingcute:question-line" aira-hidden="true" />
						<rendered-content>
							<p>You have been <strong>debugged</strong>.</p>
						</rendered-content>
					</m-note>
				</section>

				<section>
					<h3>Old Style Buttons</h3>

					<OldStyleButtons />
				</section>

				<section>
					<h3>Pagination</h3>

					<Pagination
						baseUrl="/err/"
						currentPage={2}
						lastPage={5}
						start={9}
						end={19}
						total={47}
						size={10}
					/>
				</section>

				<section>
					<h3>Post Header</h3>

					<post-header>
						<header>
							{post.data.draft && <draft-tag>Draft</draft-tag>}
							<a class="u-uid u-url" href={Astro.url.pathname}>
								{/* eslint-disable-next-line astro/no-set-html-directive */}
								<h1 class="p-name" itemprop="headline"><Fragment set:html={inlineMarkdownRender(post.data.title)} /></h1>
							</a>

							{
								post.data.image && (
									<figure>
										<Image
											src={post.data.image}
											alt={post.data.imageAlt ?? ''}
											itemprop="image"
											loading="eager"
										/>
										{/* eslint-disable-next-line astro/no-set-html-directive */}
										{post.data.imageRights && <figcaption><Fragment set:html={inlineMarkdownRender(post.data.imageRights)} /></figcaption>}
									</figure>
								)
							}

							<blockquote class="p-summary" itemprop="description">
								{/* eslint-disable-next-line astro/no-set-html-directive */}
								<p><Fragment set:html={inlineMarkdownRender(post.data.summary)} /></p>
							</blockquote>

							<post-metadata>
								<aside>
									<span>
										Published on <time itemprop="datePublished" class="dt-published" datetime={post.data.createdAt.toISOString()}>{
											formatter.format(post.data.createdAt)
										}</time>.
									</span>

									{
										post.data.updatedAt && (
											<span>
												Updated on <time itemprop="dateModified" class="dt-updated" datetime={post.data.updatedAt.toISOString()}>{
													formatter.format(post.data.updatedAt)
												}</time>.
											</span>
										)
									}

									{
										post.readingTime && (
											<span>
												<time itemprop="timeRequired" class="dt-duration" datetime={`PT${post.readingTime}M`}>
													{post.readingTime} minute read
												</time>
												{post.wordCount && <span> &mdash; {post.wordCount} words</span>}
											</span>
										)
									}
								</aside>
							</post-metadata>

							<share-options></share-options>
						</header>
					</post-header>
				</section>

				<section>
					<h3>Prompt Injection</h3>

					<PromptInjection />
				</section>

				<section>
					<h3>Related Posts</h3>

					<!-- TODO -->
				</section>

				<section>
					<h3>Scroll to Top</h3>

					<p>Will be visible overlaying the content.</p>

					<scroll-to-top>
						<a href="#page-top">
							<Icon name="mingcute:arrow-to-up-line" aria-hidden="true" />
							<span>Scroll to top</span>
							<Icon name="mingcute:arrow-to-up-line" aria-hidden="true" />
						</a>
					</scroll-to-top>
				</section>

				<section>
					<h3>Share Options</h3>

					<share-options></share-options>
				</section>

				<section>
					<h3>Site Nav</h3>

					<SiteNav />
				</section>

				<section>
					<h3>Skip to Main Content</h3>

					<p>This is the first element, will be visible when focused.</p>
					<button type="button" id="focus-skip-link">Focus skip link</button>
					<script type="module" is:inline>
						document.querySelector('#focus-skip-link')?.addEventListener('click', () => {
							(/** @type {HTMLAnchorElement} */ (document.querySelector('skip-to-content a')))?.focus({
								preventScroll: false,
								// @ts-expect-error
								focusVisible: true
							});
						});
					</script>
				</section>

				<section>
					<h3>Screen Reader Only</h3>

					<p>The text below will not be visible.</p>
					<sr-only>This text will only be read by screen readers.</sr-only>
				</section>

				<section>
					<h3>Tag List</h3>

					<tag-list>
						<ul>
							{
								post.data.tags?.map((tag) => (
									<li class="p-category">
										<tag-item>
											<a href={`/blog/tags/${tag}/`}>{tag}</a>
										</tag-item>
									</li>
								))
							}
						</ul>
					</tag-list>
				</section>

				<section>
					<h3>Theme Switcher</h3>

					<theme-switcher></theme-switcher>
				</section>

				<section>
					<h3>Web Rings</h3>

					<Webrings />
				</section>
			</details>

			<details open>
				<summary>
					<h2>Obsolete Elements</h2>
				</summary>

				<section>
					<h3>Acronym Element</h3>
					<p><strong>Note:</strong> Use <code>&lt;abbr&gt;</code> instead.</p>
					<p><acronym title="Abreviation">ABBR</acronym></p>
				</section>

				<section>
					<h3>Big Text Element</h3>
					<p><strong>Note:</strong> Use <code>font-size</code> in CSS instead.</p>
					<p><big>Large Boi</big></p>
				</section>

				<section>
					<h3>Text Centering Element</h3>
					<p><strong>Note:</strong> Use CSS instead.</p>
					<center><p>This will be centered, apparently.</p></center>
				</section>

				<section>
					<h3>Directory Listing Element</h3>
					<p>
						<strong>Note:</strong> Use <code>&lt;abbr&gt;</code> for simple lists, or the <a href="https://www.w3.org/WAI/ARIA/apg/patterns/treeview/">Tree View</a>
						pattern instead.
					</p>

					<dir>
						<li>..</li>
						<li>.</li>
						<li>.git</li>
						<li>lib</li>
						<li>src</li>
						<li>DO_NOT_READ.txt</li>
						<li>not-a-virus.exe</li>
						<li>README.md</li>
						<li>untitled.txt</li>
					</dir>
				</section>

				<section>
					<h3>Font Element</h3>
					<p><strong>Note:</strong> Use CSS instead.</p>

					<p><font color="deeppink" face="Comic Sans MS, cursive">I'm pretty</font></p>
				</section>

				<section>
					<h3>Frameset & Frame Elements</h3>
					<p><strong>Note:</strong> Use <code>&lt;iframe&gt;</code> instead.</p>

					{/* eslint-disable-next-line astro/no-set-html-directive */}
					<Fragment set:html={framesetHtml} />
				</section>

				<section>
					<h3>Image Element</h3>
					<p><strong>Note:</strong> Use <code>&lt;img&gt;</code> instead.</p>

					{/* @ts-expect-error */}
					<image
						src="/assets/images/test/good-parts.webp"
						alt="A photo of two books, side by side, with the first being much bigger than the second. The books are, respectively: Javascript the Definitive Guide; and Javascript the Good Parts"
						width="512"
					/>
				</section>

				<section>
					<h3>Marquee Element</h3>
					<p><strong>Note:</strong> Use CSS instead.</p>

					<marquee direction="up" behavior="alternate" width="640" height="480">
						<marquee behavior="alternate">
							<img height="80" width="80" src="https://www.freeiconspng.com/uploads/dvd-logo-png-33.png" alt="DVD Logo" style="margin: 0" />
						</marquee>
					</marquee>
				</section>

				<section>
					<h3>Menu Item Element</h3>
					<p>
						<strong>Note:</strong> Use the <a href="https://www.w3.org/WAI/ARIA/apg/patterns/menubar/">Menu Bar</a> or <a
							href="https://www.w3.org/WAI/ARIA/apg/patterns/menubar/"
						>Menu Button</a> patterns instead.
					</p>
					<p>There is no example on this one.</p>
				</section>

				<section>
					<h3>Non-Breaking Text Element</h3>
					<p><strong>Note:</strong> Use <code>white-space</code> in CSS instead.</p>

					<p style="max-inline-size: var(--size-content-0); outline: solid thin var(--theme-color); overflow: auto">
						<nobr>pneumonoultramicroscopicsilicovolcanoconiosis</nobr>
					</p>
				</section>

				<section>
					<h3>No Embed Element</h3>
					<p><strong>Note:</strong> Use <code>&lt;object&gt;</code> or <code>&lt;iframe&gt;</code> instead.</p>

					<p>Show fallback content if the <code>&lt;embed&gt;</code> element is not supported:</p>
					<noembed>No embed for you.</noembed>
				</section>

				<section>
					<h3>No Frames Element</h3>
					<p><strong>Note:</strong> Use <code>&lt;iframe&gt;</code> instead.</p>

					<p>Show fallback content if the <code>&lt;frame&gt;</code> element is not supported:</p>
					<noframes>No frame for you.</noframes>
				</section>

				<section>
					<h3>Object Parameter Element</h3>
					<p><strong>Note:</strong> Use <code>data-*</code> attributes instead.</p>

					<p>Flash file (<a href="hhttps://ruffle.rs/" target="_blank" rel="noopener noreferrer">Ruffle</a>'s logo):</p>
					<object
						data="/assets/ruffle-logo.swf"
						type="application/x-shockwave-flash"
						width="320"
						height="240"
					>
						<param name="pluginurl" value="http://www.adobe.com/go/getflashplayer" />
						<param name="quality" value="high" />
						<param name="bgcolor" value="#fff" />
						<p>The flash file did not load.</p>
					</object>
				</section>

				<section>
					<h3>Plain Text Element</h3>
					<p><strong>Note:</strong> <strong><em>DON'T USE THIS ELEMENT.</em></strong></p>
					<p><strong>I repeat:</strong> <strong><em>DON'T USE THIS ELEMENT.</em></strong></p>
					<p><strong>For good measure:</strong> <strong><em>DON'T USE THIS ELEMENT.</em></strong></p>

					<p><strong>Note:</strong> Use <code>&lt;pre&gt;</code> instead.</p>

					<p>This element will make <strong><em>EVERYTHING</em></strong> after it to render as plain text.</p>

					<iframe
						src="/assets/documents/test/plaintext.html"
						loading="lazy"
						title="An example of the plaintext element"
					></iframe>
				</section>

				<section>
					<h3>Ruby Base & Ruby Text Container Elements</h3>
					<p><strong>Note:</strong> Use just the text inside a <code>&lt;ruby&gt;</code> element instead.</p>

					<p>
						<ruby lang="ja">
							<rb>振</rb><rp>(</rp><rt>ふ</rt><rp>)</rp>
							<rb>り</rb><rt>&nbsp;</rt>
							<rb>仮</rb><rp>(</rp><rt>が</rt><rp>)</rp>
							<rb>名</rb><rp>(</rp><rt>な</rt><rp>)</rp>
							<rtc lang="en">
								<rp>(</rp>
								<rt>Furigana</rt>
								<rp>)</rp>
							</rtc>
						</ruby>
					</p>
				</section>

				<section>
					<h3>Strikethrough Element</h3>
					<p><strong>Note:</strong> Use <code>&lt;s&gt;</code> instead.</p>

					<p>This text is <strike>stirked</strike>.</p>
				</section>

				<section>
					<h3>Teletype Text Element</h3>
					<p>
						<strong>Note:</strong> Use <code>&lt;code&gt;</code>, <code>&lt;kbd&gt;</code>, <code>&lt;samp&gt;</code>, <code>&lt;pre&gt;</code>, or <code
						>&lt;var&gt;</code> instead.
					</p>

					<p><tt>shutdown -t 0 -r</tt></p>
				</section>

				<section>
					<h3><code>&lt;xmp&gt;</code></h3>

					<p><strong>Note:</strong> Use <code>&lt;pre&gt;</code> instead.</p>

					<p>This element ignores HTML tags inside of it, making it tricky to work with.</p>

					<iframe
						src="/assets/documents/test/xmp.html"
						loading="lazy"
						title="An example of the plaintext element"
					></iframe>
				</section>
			</details>
		</main>

		<footer></footer>
		<SvgDefs />
		<iab-escape></iab-escape>
		<script src="../assets/js/pages/styleguide.ts"></script>
	</body>
</html>
