---
import '../assets/css/pages/todo.css';
import HtmlHead from '../components/HtmlHead.astro';
import Logo from '../components/Logo.astro';
import OldStyleButtons from '../components/OldStyleButtons.astro';
import SiteNav from '../components/SiteNav.astro';
import SvgDefs from '../components/SvgDefs.astro';
import Webrings from '../components/Webrings.astro';
import { inlineMarkdownRender } from '../utils/markdown.js';

interface Task {
	isDone: boolean;
	text: string;
	children?: Task[];
	removed?: string;
}

function renderTask(task: Task) {
	const taskId = `todo-${Math.trunc(Math.random() * 1000000).toString(16)}`;
	let childTasks = '';

	if (task.children) {
		childTasks = `
			<ul>
				${task.children.map((childTask) => renderTask(childTask)).join('\n')}
			</ul>
		`;
	}

	return `
		<li>
			<label id="label-${taskId}" for="${taskId}">
				<input
					type="checkbox"
					id="${taskId}"
					name="${taskId}"
					aria-labelledby="label-${taskId}"
					${task.isDone ? 'checked' : ''}
					${task.removed ? 'disabled' : ''}
				/>
				<span>${inlineMarkdownRender(task.text)}</span>
				${task.removed ? `<m-note data-type="info"><small>${task.removed}</small></m-note>` : ''}
			</label>
			${childTasks}
		</li>
	`;
}

const tasks: Task[] = [
	{ isDone: true, text: 'Make logos an svg component so it can be styled with CSS' },
	{ isDone: true, text: 'Add vintage buttons with SVG for better text fitting/styling' },
	{ isDone: false, text: 'Add [webmention badges](https://webmention.io/docs/badges)' },
	{ isDone: true, text: 'Improve [print style](https://voussoir.net/writing/css_for_printing)' },
	{
		isDone: true,
		text:
			'Improve [high contrast mode](https://blogs.windows.com/msedgedev/2020/09/17/styling-for-windows-high-contrast-with-new-standards-for-forced-colors/) (fix things that are in the wrong colors)',
		children: [
			{ isDone: true, text: 'Keep orange but make it brighter (add white)' },
			{ isDone: true, text: 'Small text should not be so small' },
			{ isDone: true, text: 'Medium dark grey background should be darker (add black). (Maybe add a border instead)' }
		]
	},
	{
		isDone: false,
		text: 'Implement themes + theme selector',
		children: [
			{ isDone: true, text: 'Dark mode (AAA contrast)' },
			{ isDone: true, text: 'Light mode (AAA contrast)' },
			{
				isDone: true,
				text: 'High contrast yellow on black (AAA contrast)',
				children: [
					{ isDone: true, text: 'Make underline solid' },
					{ isDone: true, text: 'Make underline distance from text larger' },
					{ isDone: true, text: 'Make tags text bold' },
					{ isDone: true, text: 'Special "code theme" for high contrast' },
					{ isDone: true, text: 'Increase line height and letter spacing' }
				]
			},
			{
				isDone: true,
				text: 'Forced colors (AAA contrast)',
				children: [
					{ isDone: true, text: 'Fix tags and grayscale filter for avatars' },
					{ isDone: true, text: 'SVGs added by css need to change color' }
				]
			},
			{ isDone: true, text: 'UwU theme' },
			{ isDone: true, text: 'Old interwebs' },
			{ isDone: false, text: 'Skeuomorphic cork board' },
			{ isDone: false, text: '"Zen"' },
			{ isDone: true, text: '"Hacker" (green on black)' }
		]
	},
	{
		isDone: false,
		text: 'Finish integrating web mentions',
		children: [
			{ isDone: true, text: 'Move to cloudflare' },
			{ isDone: false, text: 'Add cloudflare function to handle sending webmentions' },
			{ isDone: false, text: 'Add cloudflare function to handle receiving webmentions' },
			{ isDone: false, text: 'Add webmention to posts as a comment system' },
			{ isDone: false, text: 'Add form to send webmention as comment from the blog' },
			{ isDone: false, text: 'Add guestbook as webmentions' }
		]
	},
	{ isDone: true, text: 'Add "[about](/about/)" page (based on [slash pages](https://slashpages.net/))' },
	{ isDone: true, text: 'Add "[ai](/ai/)" page (based on [slash pages](https://slashpages.net/))' },
	{ isDone: true, text: 'Add "[blogroll](/bookmarks/#blogroll)" page (based on [slash pages](https://slashpages.net/))' },
	{ isDone: false, text: 'Add "carry" page (based on [slash pages](https://slashpages.net/))', removed: "I'm not going around much, so defeats the purpose." },
	{ isDone: true, text: 'Add "[changelog](/changelog/)" page (based on [slash pages](https://slashpages.net/))' },
	{ isDone: true, text: 'Add noop "[change password](/.well-known/change-password)" page' },
	{ isDone: true, text: 'Add [`dnt`](/.well-known/dnt) and [`dnt-policy`](/.well-known/dnt-policy.txt)' },
	{ isDone: false, text: 'Add ko-fi donation page' },
	{ isDone: true, text: 'Add [feeds](/feeds/) page listing all available feeds' },
	{ isDone: true, text: 'Make projects and talks available as feeds' },
	{ isDone: true, text: 'Improve rss styles', removed: 'XSLT is deprecated and will be removed from browsers' },
	{ isDone: true, text: 'Add [humans.txt](/humans.txt)' },
	{ isDone: true, text: 'Add [indieweb.txt](/indieweb.txt)' },
	{ isDone: false, text: 'Add pgp key?', removed: 'Tooling and moving it around is a PITA' },
	{
		isDone: true,
		text: 'Add [Resume](/resume/)',
		children: [
			{ isDone: true, text: '[JSON resume format](https://jsonresume.org/schema/)' },
			{ isDone: true, text: '[HTML format](/resume/)' },
			{ isDone: true, text: '[PDF Format](/assets/document/resume.pdf)' },
			{
				isDone: true,
				text: '[DOCX](https://www.npmjs.com/package/docx) [format](https://www.npmjs.com/package/docxtemplater)',
				removed: 'No one is using doc resumes anymore.'
			}
		]
	},
	{
		isDone: true,
		text: 'Add [Roadmap/TODO](/todo/) page',
		children: [
			{ isDone: true, text: 'Make items tooglable' },
			{ isDone: true, text: 'Save to local storage' }
		]
	},
	{ isDone: false, text: 'Add [search functionality](https://pagefind.app/docs/)' },
	{ isDone: true, text: 'Add [security.txt](/.wuell-known/security.txt)' },
	{ isDone: false, text: 'Add stats board' },
	{ isDone: true, text: 'Add [styleguide page](/styleguide/)' },
	{
		isDone: true,
		text: 'Add debug mode',
		children: [
			{ isDone: true, text: 'Make debug css togglable' },
			{ isDone: false, text: 'Add JS report for issues (?)' }
		],
		removed: 'Too much work for too little return. Also, styleguide page provides better solution.'
	},
	{ isDone: false, text: 'Add [webauthn](https://webauthn.io/) (?)' },
	{ isDone: false, text: 'Add [web monetization](https://webmonetization.org/docs/) (?)' },
	{ isDone: true, text: 'Add a "[uses](/colophon/)" page' },
	{ isDone: true, text: 'Add [webfinger](/.well-known/webfinger) endpoint' },
	{
		isDone: false,
		text: 'Add [webrings](https://brisray.com/web/webring-list.htm)',
		children: [
			{ isDone: false, text: '[Queer Coded](https://isaacfish.neocities.org/webring/)', removed: 'Seems to be overloaded with applications 😭' },
			{ isDone: false, text: '[CSS Joy](https://cs.sjoy.lol/)' },
			{ isDone: false, text: '[Bucketfish](https://webring.bucketfish.me/)' }
		]
	},
	{ isDone: true, text: 'Add a [CSS Naked day](https://css-naked-day.github.io/)' },
	{ isDone: true, text: 'Add a [JS Naked day](https://meiert.com/en/blog/april-24-is-js-naked-day/)' },
	{ isDone: false, text: 'Have a [brag document](https://uxdesign.cc/why-you-should-have-a-brag-document-eb6cc82ec80a)' }
];
---
<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="https://schema.org/WebPage">
	<HtmlHead
		title="To-Do | Marco Campos"
		description="To-Do and work in progress items for Marco Campos website."
	/>
	<body>
		<a href="/yapping" rel="nofollow" hidden>Don't follow this link</a>

		<skip-to-content>
			<a href="#main">Skip to main content</a>
		</skip-to-content>

		<SiteNav />

		<css-naked-day>
			<hr />
			<h2>Why this website looks so weird?</h2>
			<p>We are celebrating CSS Naked Day!</p>
			<p>Find out more on <a href="/blog/2025/04/css-naked-day-2025">this blog post</a>.</p>
			<hr />
		</css-naked-day>

		<header>
			<Logo
				subtitle="TODO"
				shortSubtitle="TODO"
				title="TODO Page"
			/>
			<h1>To Do</h1>
		</header>

		<main id="main">
			<p>
				Based on <a href="https://jamesg.blog/2024/02/19/personal-website-ideas/">this post</a> and <a
					href="https://shellsharks.com/notes/2023/08/15/website-component-checklist"
				>this checklist</a>.
			</p>

			<ul id="todo-list">
				<Fragment set:html={tasks.map((task) => renderTask(task)).join('\n')} />
			</ul>

			<h2>Webmention references</h2>

			<ul>
				<li>
					<a href="https://indiewebify.me">https://indiewebify.me</a>
				</li>
				<li>
					<a href="https://webmention.io/dashboard">https://webmention.io/dashboard</a>
				</li>
				<li>
					<a href="https://telegraph.p3k.io/dashboard">https://telegraph.p3k.io/dashboard</a>
				</li>
				<li>
					<a href="https://webmention.rocks/">https://webmention.rocks/</a>
				</li>
				<li>
					<a href="https://indieweb.org/posts#Types_of_Posts">https://indieweb.org/posts#Types_of_Posts</a>
				</li>
				<li>
					<a href="https://kld.dev/adding-webmentions/">https://kld.dev/adding-webmentions/</a>
				</li>
				<li>
					<a href="https://daily-dev-tips.com/posts/goodbye-comments-welcome-webmentions/">https://daily-dev-tips.com/posts/goodbye-comments-welcome-webmentions/</a>
				</li>
			</ul>
			<script src="../assets/js/pages/todo.ts"></script>
		</main>

		<footer>
			<OldStyleButtons />
			<Webrings />
			<hit-counter></hit-counter>
		</footer>
		<SvgDefs />
		<iab-escape></iab-escape>
	</body>
</html>
