---
import '../assets/css/pages/triangle.css';
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import customer from '../assets/images/piramid/customer.jpg';
import eMusk from '../assets/images/piramid/e-musk.jpg';
import ligMa from '../assets/images/piramid/ligma.jpg';
import mScott from '../assets/images/piramid/m-scott.jpg';
import mrCreature from '../assets/images/piramid/mr-creature.jpg';
import richHero from '../assets/images/piramid/rich1.png';
import HtmlHead from '../components/HtmlHead.astro';
import SiteNav from '../components/SiteNav.astro';

const imageSizes = '(max-width: 360px) 128px, (max-width: 720px) 256px, (max-width: 1280px) 512px, (max-width: 2160px) 768px';
---
<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="https://schema.org/WebPage">
	<HtmlHead
		title="QuickRichClub"
		description="Welcome to QuickRichClub!"
		tags={['easter egg', 'joke']}
	/>
	<body>
		<a href="/yapping" rel="nofollow" hidden>Don't follow this link</a>

		<skip-to-content>
			<a href="#main">Skip to main content</a>
		</skip-to-content>

		<SiteNav />

		<css-naked-day>
			<hr />
			<h2>Why this website looks so weird?</h2>
			<p>We are celebrating CSS Naked Day!</p>
			<p>Find out more on <a href="/blog/2025/04/css-naked-day-2025">this blog post</a>.</p>
			<hr />
		</css-naked-day>

		<header>
			<h1>Welcome to QuickRichClub!</h1>
		</header>

		<main id="main">
			<section id="hero">
				<Image
					src={richHero}
					alt="A man with a happy face and his mouth open, holding a fist in front of his body. He is confident, he is strong, he is making money baby!"
					loading="lazy"
					widths={/* eslint-disable-line @typescript-eslint/no-magic-numbers */ [128, 256, 512, 768, richHero.width]}
					sizes={`${imageSizes} ${richHero.width}px`}
					quality={75}
				/>

				<p>
					Ready to swim in cash? Join QuickRichClub, where everyone can &ldquo;get rich quick&rdquo;! 💸
					<tiny-text>(terms and conditions apply, mainly to everyone except you)</tiny-text>
				</p>

				<form method="get" action="#">
					<input
						id="email"
						name="email"
						type="email"
						placeholder="Enter your email here"
						aria-label="Enter your email here"
						required
					/>
					<button type="submit">Join now!</button>
				</form>
			</section>

			<section id="why">
				<h2>Why Choose QuickRichClub?</h2>
				<ul>
					<li>
						<article>
							<picture>
								<Icon name="mingcute:currency-bitcoin-2-line" title="An icon of the bitcoin symbol" />
							</picture>
							<header>
								<h3>Unbelievable Returns</h3>
							</header>
							<p>No, seriously, you'd better not believe them.</p>
						</article>
					</li>
					<li>
						<article>
							<picture>
								<Icon name="mingcute:brain-line" title="An icon of a brain" />
							</picture>
							<header>
								<h3>Team-Building Extravaganza</h3>
							</header>
							<p>
								Convince your loved ones to join in and put the <fun-text>"fun"</fun-text>
								<fun-text>"generational debt"</fun-text>!
							</p>
						</article>
					</li>
					<li>
						<article>
							<picture>
								<Icon name="mingcute:fire-line" title="An icon of a flame" />
							</picture>
							<header>
								<h3>Risk-Free!</h3>
							</header>
							<p>For us, anyway. For you, well, that's another story.</p>
						</article>
					</li>
				</ul>
			</section>

			<section id="steps">
				<h2>How It "Works"?</h2>

				<p>You will be done in only 3 easy steps!</p>

				<ol>
					<li>
						<h3>Join</h3>
						<p>Hand over your hard-earned cash because why not?</p>
						<p><tiny-text>(This is not a threat)</tiny-text></p>
					</li>
					<li>
						<h3>Recruit</h3>
						<p>Annoy your friends and family until they give in.</p>
						<p>Remember, the more they invest, the more... well, that's it.</p>
					</li>
					<li>
						<h3>Profit?!?</h3>
						<p>Watch as your money magically does absolutely nothing.</p>
						<p>It's like a miracle, but not the good kind.</p>
					</li>
				</ol>
			</section>

			<section id="testimonials">
				<h2>Testimonials</h2>

				<ul>
					<li>
						<blockquote>
							<Image
								src={customer}
								alt=""
								loading="lazy"
								widths={/* eslint-disable-line @typescript-eslint/no-magic-numbers */ [128, 256, 512, 768, customer.width]}
								sizes={`${imageSizes} ${customer.width}px`}
								quality={75}
							/>
							<p>QuickRichClub changed my life! Now I have plenty of free time because everyone I know avoids me!</p>
							<small>A Truly "Satisfied" Member</small>
						</blockquote>
					</li>
					<li>
						<blockquote>
							<Image
								src={ligMa}
								alt=""
								loading="lazy"
								widths={/* eslint-disable-line @typescript-eslint/no-magic-numbers */ [128, 256, 512, 768, ligMa.width]}
								sizes={`${imageSizes} ${ligMa.width}px`}
								quality={75}
							/>
							<p>I was skeptical, but now I'm a full believer... in never falling for these schemes again!</p>
							<small>Lig Ma B.</small>
						</blockquote>
					</li>
					<li>
						<blockquote>
							<Image
								src={eMusk}
								alt=""
								loading="lazy"
								widths={/* eslint-disable-line @typescript-eslint/no-magic-numbers */ [128, 256, 512, 768, eMusk.width]}
								sizes={`${imageSizes} ${eMusk.width}px`}
								quality={75}
							/>
							<p>I've never had so many people call me about investment opportunities... mainly to tell me to stop calling them.</p>
							<small>E. Musk</small>
						</blockquote>
					</li>
					<li>
						<blockquote>
							<Image
								src={mScott}
								alt=""
								loading="lazy"
								widths={/* eslint-disable-line @typescript-eslint/no-magic-numbers */ [128, 256, 512, 768, mScott.width]}
								sizes={`${imageSizes} ${mScott.width}px`}
								quality={75}
							/>
							<p>This is totally <em>not</em> a pyramid scheme!</p>
							<small>M. Scott</small>
						</blockquote>
					</li>
					<li>
						<blockquote>
							<Image
								src={mrCreature}
								alt=""
								loading="lazy"
								widths={/* eslint-disable-line @typescript-eslint/no-magic-numbers */ [128, 256, 512, 768, mrCreature.width]}
								sizes={`${imageSizes} ${mrCreature.width}px`}
								quality={75}
							/>
							<p>Thanks to QuickRichClub, I learned a valuable lesson in financial caution. Also, my friends learned how to block numbers.</p>
							<small>Mr. Creature</small>
						</blockquote>
					</li>
				</ul>
			</section>

			<section id="cta">
				<h2>Act Now!</h2>

				<p>Sign up today and experience the thrill of watching your money disappear! Join QuickRichClub &mdash; the not-a-pyramid scheme that might make someone rich!</p>
				<p><tiny-text>(spoiler: it's not you)</tiny-text></p>

				<form method="get" action="#">
					<input
						id="email"
						name="email"
						type="email"
						placeholder="Enter your email here"
						aria-label="Your email"
						required
					/>
					<button type="submit">Access now!</button>
				</form>
			</section>
		</main>

		<footer>
			<p id="small-print">
				By providing your email you subscribe to a lifetime suply of Sildenafil, also known as "Magic Blue Pills" or "Daddy Little Helpers".
			</p>
		</footer>
		<iab-escape></iab-escape>
		<script src="../assets/js/pages/triangle.ts"></script>
	</body>
</html>
