---
import { Icon } from 'astro-icon/components';

interface Props {
	baseUrl: string;
	currentPage: number;
	lastPage: number;
	start: number;
	end: number;
	size: number;
	total: number;
}

const { baseUrl, currentPage, lastPage, start, end, size, total } = Astro.props;

const TRIM_PAGE_NUMBER = 2;
const firstPageInNav = Math.max(1, currentPage - TRIM_PAGE_NUMBER);
const lastPageInNav = Math.min(lastPage, currentPage + TRIM_PAGE_NUMBER);
const prevPage = currentPage > 1 ? currentPage - 1 : undefined;
const nextPage = currentPage < lastPageInNav ? currentPage + 1 : undefined;

const navLinks = Array(lastPageInNav - firstPageInNav + 1).fill(undefined).map((_, i) => {
	const currentPageNumber = firstPageInNav + i;
	const href = currentPageNumber === 1 ? '' : `${currentPageNumber.toString()}/`;

	return {
		label: currentPageNumber.toString(),
		url: `${baseUrl}${href}`,
		isCurrentPage: currentPageNumber === currentPage
	};
});
console.log(firstPageInNav, lastPageInNav);
---
<m-pagination>
	<nav aria-labelledby="pagination-label">
		<sr-only id="pagination-label">Pagination Navigation</sr-only>
		<div>
			<a
				href={baseUrl}
				id="first-page"
			>
				<Icon name="mingcute:arrows-left-line" aria-hidden="true" />
				<span class="pagination-link-text">First<sr-only> page</sr-only></span>
			</a>

			<a
				href={prevPage ? `${baseUrl}${prevPage > 1 ? `${prevPage}/` : ''}` : null}
				aria-disabled={!prevPage ? 'true' : null}
				id="prev-page"
			>
				<Icon name="mingcute:left-line" aria-hidden="true" />
				<span class="pagination-link-text">Previous<sr-only> page</sr-only></span>
			</a>

			<ol>
				{firstPageInNav > 1 && <li><a href={baseUrl}><sr-only>Page </sr-only>1</a></li>}
				{firstPageInNav > 2 && <li><span>…</span></li>}

				{
					navLinks.map(({ url, label, isCurrentPage }) => (
						<li>
							<a
								href={`${url}${isCurrentPage ? '#' : ''}`}
								aria-current={isCurrentPage ? 'page' : null}
							><sr-only>Page </sr-only>{label}</a>
						</li>
					))
				}

				{lastPageInNav < lastPage - 1 && <li><span>…</span></li>}
				{lastPageInNav < lastPage && <li><a href={`${baseUrl}${lastPage}/`}><sr-only>Page </sr-only>{lastPage}</a></li>}
			</ol>

			<a
				href={nextPage ? `${baseUrl}${nextPage}/` : null}
				aria-disabled={!nextPage ? 'true' : null}
				id="next-page"
			>
				<span class="pagination-link-text">Next<sr-only> page</sr-only></span>
				<Icon name="mingcute:right-line" aria-hidden="true" />
			</a>

			<a
				href={`${baseUrl}${lastPage}/`}
				id="last-page"
			>
				<span class="pagination-link-text">Last<sr-only> page</sr-only></span>
				<Icon name="mingcute:arrows-right-line" aria-hidden="true" />
			</a>
		</div>
		<aside>
			{start + 1} &mdash; {end + 1} of {total} ({size} per page)
		</aside>
	</nav>
</m-pagination>
