---
import '../../assets/css/pages/projects.css';
import { Icon } from 'astro-icon/components';
import Card from '../../components/Card.astro';
import Effects from '../../components/Effects.astro';
import HtmlHead from '../../components/HtmlHead.astro';
import Logo from '../../components/Logo.astro';
import OldStyleButtons from '../../components/OldStyleButtons.astro';
import SiteNav from '../../components/SiteNav.astro';
import Webrings from '../../components/Webrings.astro';
import { listAllProjects } from '../../utils/projects.js';

const projects = await Promise.all((await listAllProjects()).map(async (project) => {
	const { Content } = await project.render();

	return {
		data: project.data,
		Content
	};
}));

const formatter = new Intl.DateTimeFormat('en-US', { dateStyle: 'long' });
---
<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="https://schema.org/ItemList">
	<HtmlHead
		title="Project Highlight | Marco Campos"
		description="A list of projects I've worked on, or am currently working on. Mostly web development"
		url={Astro.url.href}
	/>
	<body>
		<skip-to-content>
			<a href="#main">Skip to main content</a>
		</skip-to-content>

		<SiteNav />

		<css-naked-day>
			<div>
				<hr />
				<h2>Why this website looks so weird?</h2>
				<p>We are celebrating CSS Naked Day!</p>
				<p>Find out more on <a href="/blog/2025/04/css-naked-day-2025">this blog post</a>.</p>
				<hr />
			</div>
		</css-naked-day>

		<header id="page-header">
			<div>
				<Logo
					subtitle="Projects"
					shortSubtitle="Proj."
					url="/projects/"
					title="Projects Page"
				/>
				<h1>Project Highlight</h1>
			</div>
		</header>

		<main id="main">
			{
				projects.map(({ Content, data }) => (
					<Card
						class="project-card"
						url={data.url}
						draft={data.draft}
						itemtype="http://schema.org/WebApplication"
						image={data.image}
						imageAlt={data.imageAlt ?? ''}
						themeImages={data.themeImages}
					>
						<Fragment slot="meta">
							<meta itemprop="operatingSystem" content="https://schema.org/AllOperatingSystem" />
							<meta itemprop="browserRequirements" content="https://schema.org/GenericWebPlatform" />
							<meta itemprop="applicationCategory" content="BrowserApplication" />
							<div itemprop="offers" itemscope itemtype="https://schema.org/Offer" hidden>
								<meta itemprop="availability" content="https://schema.org/InStock" />
								<meta itemprop="price" content="0" />
								<meta itemprop="priceCurrency" content="USD" />
							</div>
							<meta itemprop="isAccessibleForFree" content="True" />
						</Fragment>
						<h2 slot="title">
							<Fragment set:html={data.title} />
						</h2>

						<Fragment slot="subtitle">
							<span class="project-status" data-status={data.status}>
								<Icon name={data.status === 'ongoing' ? 'uil:history' : 'uil:check-circle'} title="Project status" /> {
									data.status === 'ongoing' ? 'Ongoing' : 'Finished'
								}
							</span>
							<span>
								<Icon name="uil:calendar-alt" title="Date started" />
								<time datetime={data.createdAt.toISOString()} itemprop="dateCreated">{formatter.format(data.createdAt)}</time>
								{
									data.updatedAt && (
										<span>&mdash; <time datetime={data.updatedAt.toISOString()} itemprop="dateModified">{formatter.format(data.updatedAt)}</time></span>
									)
								}
							</span>
							<span itemprop="softwareVersion">
								<Icon name="uil:box" title="Current version" /> {data.version}
							</span>
						</Fragment>

						<Content />

						<Fragment slot="links">
							{
								data.url && (
									<a href={data.url} rel="noopener noreferrer" referrerpolicy="no-referrer" itemprop="installUrl">
										<Icon name="uil:link" aria-hidden="true" />
										View Project
									</a>
								)
							}
							&nbsp;
							{
								data.repository && (
									<a href={data.repository} rel="noopener noreferrer" referrerpolicy="no-referrer">
										<Icon name="uil:github" aria-hidden="true" />
										View Repository
									</a>
								)
							}
						</Fragment>

						<details slot="footer">
							<summary>
								<span>
									<Icon name="uil:cog" aria-hidden="true" />
									Technologies used
								</span>
							</summary>
							<ul class="technology-tags">
								{data.techStack?.map((tech) => <li class="tag">{tech}</li>)}
							</ul>
						</details>
					</Card>
				))
			}
		</main>

		<footer id="page-footer">
			<OldStyleButtons />
			<Webrings />
		</footer>
		<Effects />
		<iab-escape></iab-escape>
	</body>
</html>
