---
import CssNakedDay from '../../../components/CssNakedDay/CssNakedDay.astro';
import HtmlHead from '../../../components/HtmlHead/HtmlHead.astro';
import Logo from '../../../components/Logo/Logo.astro';
import OldStyleButtons from '../../../components/OldStyleButtons/OldStyleButtons.astro';
import SiteNav from '../../../components/SiteNav/SiteNav.astro';
import SvgDefs from '../../../components/SvgDefs/SvgDefs.astro';
import Webrings from '../../../components/Webrings/Webrings.astro';
import { listPostsByTag } from '../../../utils/post';

const sorter = new Intl.Collator('en-CA', { usage: 'sort' });

const postsByTag = Object.entries(await listPostsByTag()).map(([tag, posts]) => ({
	name: tag,
	items: posts.length
})).sort((first, second) => sorter.compare(first.name, second.name));

const tags = postsByTag.map(({ name }) => name);
---
<!doctype html>
<html lang="en-US" itemscope itemtype="https://schema.org/ItemList">
	<HtmlHead
		title="Tags | Marco Campos' Blog"
		description="Tags for Marco Campos' blog"
	/>
	<body>
		<a href="/yapping" rel="nofollow" hidden>Don't follow this link</a>

		<skip-to-content>
			<a href="#main">Skip to main content</a>
		</skip-to-content>

		<SiteNav />
		<CssNakedDay />

		<header>
			<Logo
				subtitle="Blog"
				shortSubtitle="Blog"
				url="/blog/"
				title="Blog"
			/>
			<h1>Tags for Marco Campos' blog</h1>
		</header>

		<main data-pagefind-body id="main">
			<meta itemprop="name" content="Tags for Marco Campos' blog" />
			<link itemprop="itemListOrder" href="https://schema.org/ItemListUnordered" />
			<meta itemprop="numberOfItems" content={tags.length.toString()} />

			<radar-chart
				legend="Tag list"
				subtitle="Tags used on the blog and their post count"
				hidden
			>
				{postsByTag.map((tag) => (
					<tag-item data-name={tag.name} data-items={tag.items}>
						<a href={`/blog/tags/${tag.name}/`} itemprop="url">
							<span itemprop="itemListElement">{tag.name} ({tag.items})</span>
						</a>
					</tag-item>
				))}
			</radar-chart>
		</main>

		<footer>
			<OldStyleButtons />
			<Webrings />
			<hit-counter></hit-counter>
		</footer>
		<SvgDefs />
		<iab-escape></iab-escape>
		<script src="../../../assets/pages/tags/tags.ts"></script>
	</body>
</html>
